Repository Layr-Labs/eigenda: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, litt-tests, Core, API, Disperser, Node, Encoding

fix: delete old cfg, update readme
  contracts/script/deploy/certverifier/README.md
  contracts/script/deploy/certverifier/config/v2/sepolia/testnet.config.json
Due: none

Add debug logs
  disperser/apiserver/server_v2.go
  disperser/cmd/controller/main.go
  disperser/controller/server/server.go
Due: unit-tests, Disperser

Update contracts/script/deploy/certverifier/config/v2/mainnet.prod.config.json
  contracts/script/deploy/certverifier/config/v2/mainnet.prod.config.json
Due: none

Update contracts/script/deploy/certverifier/config/v2/hoodi.testnet.config.json
  contracts/script/deploy/certverifier/config/v2/hoodi.testnet.config.json
Due: none

Update contracts/script/deploy/certverifier/config/v2/holesky.preprod.config.json
  contracts/script/deploy/certverifier/config/v2/holesky.preprod.config.json
Due: none

fix: wrong EncodingParams in getAllPrecomputedSrsMap
  encoding/kzg/prover/v2/prover.go
Due: unit-tests, Encoding

fix icicle
  encoding/kzg/prover/v2/icicle.go
Due: unit-tests, Encoding

feat: config registry (#2002)
  contracts/bindings/IEigenDADirectory/binding.go
  contracts/src/core/EigenDADirectory.sol
  contracts/src/core/interfaces/IEigenDADirectory.sol
  contracts/src/core/libraries/v3/config-registry/ConfigRegistryLib.sol
  contracts/src/core/libraries/v3/config-registry/ConfigRegistryStorage.sol
  contracts/src/core/libraries/v3/config-registry/ConfigRegistryTypes.sol
  contracts/test/unit/ConfigRegistryUnit.t.sol
Due: none

Actually fix the tests
  core/payments/ondemand/test/on_demand_vault_monitor_test.go
  core/payments/reservation/reservation_vault_monitor_test.go
  core/payments/vault/test_payment_vault.go
Due: unit-tests, Core

refactor package structure
  tools/srs-utils/README.md
  tools/srs-utils/downloader/downloader.go
  tools/srs-utils/internal/download/download.go
  tools/srs-utils/main.go
  tools/srs-utils/table_downloader/flags.go
  tools/srs-utils/table_downloader/tables_downloader.go
Due: unit-tests

change readme a bit + add cmd/main.go
  tools/srs-utils/README.md
  tools/srs-utils/cmd/main.go
Due: unit-tests

update flag
  tools/srs-utils/table_downloader/flags.go
Due: unit-tests

chore(inabox): make deploy-all creates new-anvil first
  inabox/Makefile
Due: unit-tests

fix(inabox): create chain network
  inabox/deploy/cmd/main.go
  inabox/tests/integration_suite_test.go
Due: none

fix(payments): Actually fix the vault monitor tests (#2068)
  core/payments/ondemand/test/on_demand_vault_monitor_test.go
  core/payments/reservation/reservation_vault_monitor_test.go
  core/payments/vault/test_payment_vault.go
Due: unit-tests, Core

fix lint
  tools/srs-utils/internal/download/download.go
Due: unit-tests

fix(inabox): network issues (#2069)
  inabox/Makefile
  inabox/deploy/cmd/main.go
  inabox/tests/integration_suite_test.go
Due: unit-tests

feat(srs): Add srs table download utility (#2059)
  codecov.yml
  tools/srs-utils/README.md
  tools/srs-utils/cmd/main.go
  tools/srs-utils/downloader/downloader.go
  tools/srs-utils/internal/download/download.go
  tools/srs-utils/table_downloader/flags.go
  tools/srs-utils/table_downloader/tables_downloader.go
Due: unit-tests

refactor(inabox): cleanup inabox deployer + makefile
  core/indexer/indexer_suite_test.go
  core/thegraph/state_integration_test.go
  inabox/Makefile
  inabox/deploy/cmd/main.go
  inabox/deploy/config_types.go
  inabox/templates/testconfig-anvil-nochurner.yaml
  inabox/tests/integration_suite_test.go
  inabox/tests/ratelimit_test.go
  operators/churner/tests/churner_test.go
Due: unit-tests

Churner testbed implementation
  .gitignore
  test/testbed/deploy_eigenda_churner.go
  test/testbed/deploy_eigenda_churner_test.go
Due: unit-tests

rm inabox dependency from churner_test.go
  operators/churner/tests/churner_test.go
Due: none

Dump configuration
  test/testbed/deploy_eigenda_churner.go
Due: none

inabox test pass with churner deployment
  inabox/bin.sh
  inabox/tests/integration_suite_test.go
  test/testbed/deploy_eigenda_churner.go
Due: unit-tests

Fix inabox devnet deployment
  inabox/Makefile
  inabox/README.md
  inabox/deploy/cmd/main.go
  inabox/deploy/deploy.go
  test/testbed/localstack.go
Due: unit-tests

remove comment
  inabox/deploy/deploy.go
Due: none

Write configuration and logs to inabox testdata directory
  inabox/tests/integration_suite_test.go
  test/testbed/deploy_eigenda_churner.go
  test/testbed/deploy_eigenda_churner_test.go
Due: none

build docker images for inabox
  Makefile
Due: unit-tests

For inabox tests, spin up churner as a gouroutine
  Makefile
  inabox/tests/integration_suite_test.go
  test/testbed/deploy_eigenda_churner_container.go
  test/testbed/deploy_eigenda_churner_container_test.go
  test/testbed/deploy_eigenda_churner_goroutine.go
  test/testbed/deploy_eigenda_churner_goroutine_test.go
Due: unit-tests

nit: remove comments
  test/testbed/deploy_eigenda_churner_goroutine.go
Due: none

Remove churner container stuff and modify churner_test.go to use testbed
  operators/churner/tests/churner_test.go
  test/testbed/deploy_eigenda_churner_container.go
  test/testbed/deploy_eigenda_churner_container_test.go
  test/testbed/deploy_eigenda_churner_goroutine.go
Due: none

Revert alot of changes and add SKIP_CHURNER flag to bin.sh
  inabox/Makefile
  inabox/README.md
  inabox/bin.sh
  inabox/deploy/cmd/main.go
  inabox/deploy/deploy.go
Due: unit-tests

fix lint issues
  operators/churner/tests/churner_test.go
  test/testbed/deploy_eigenda_churner_goroutine.go
Due: none

Add separate function for test in bin.sh
  core/thegraph/state_integration_test.go
  inabox/bin.sh
  inabox/deploy/deploy.go
  inabox/tests/integration_suite_test.go
Due: unit-tests

fix rebase issues
  inabox/tests/integration_suite_test.go
Due: none

fix tests to use testconfig-anvil.yaml
  core/indexer/indexer_suite_test.go
  core/thegraph/state_integration_test.go
  inabox/tests/integration_suite_test.go
Due: none

delete testconfig-anvil-nograph.yaml
  inabox/templates/testconfig-anvil-nograph.yaml
Due: unit-tests

simplify churner deployment by leveraging existing code
  inabox/tests/integration_suite_test.go
  operators/churner/tests/churner_test.go
  test/testbed/deploy_eigenda_churner_goroutine.go
  test/testbed/deploy_eigenda_churner_goroutine_test.go
Due: none

nit
  inabox/Makefile
Due: unit-tests

fix lint
  operators/churner/tests/churner_test.go
Due: none

relax encoded payload header
  docs/spec/src/integration/spec/3-data-structs.md
Due: none

Path conditions:
  unit-tests: any file but: contracts/, litt/, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  litt-tests: any of: litt/, but not: contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Core: any of: core/**, but not: contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  API: any of: api/**, but not: api/grpc/**, api/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Disperser: any of: disperser/**, but not: disperser/cmd/**, disperser/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Node: any of: node/**, but not: node/cmd/**, node/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Encoding: any of: encoding/**, but not: encoding/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
