Repository Layr-Labs/eigenda: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, litt-tests, Core, API, Disperser, Node, Encoding

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecovyml-reference

coverage:
  # Coverage precision (number of decimal places)
  precision: 1
  round: down

  # Coverage range for color coding (red to green)
  range: "30...80"

  status:
    project:
      default:
        # Only fail the status if coverage drops by more than 1%
        threshold: 1%
        target: auto

    patch:
      default:
        # Require at least 50% coverage on new/modified code
        target: 50%
        threshold: 5%

# Files and paths to ignore in coverage calculations
ignore:
  # Auto-generated contract bindings
  - "contracts/bindings/**"
  - "**/bindings/**"

  # Generated protobuf/grpc files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/grpc/**"

  # Mock files
  - "**/mock/**"
  - "**/mocks/**"
  - "**/*_mock.go"
  - "**/*_mocks.go"

  # Test files and test utilities
  - "**/*_test.go"
  - "**/test/**"
  - "**/tests/**"
  - "**/testutils/**"
  - "**/testdata/**"

  # Command-line entry points (main packages)
  - "**/cmd/**"
  - "**/main.go"

  # Documentation and examples
  - "**/docs/**"
  - "**/examples/**"
  - "**/example/**"

  # Generated files
  - "**/generated/**"
  - "**/*.generated.go"
  - "**/codegen/**"

  # Third-party and vendor
  - "vendor/**"
  - "third_party/**"

  # Build and deployment
  - "**/build/**"
  - "**/deploy/**"
  - "**/scripts/**"

  # Resource files
  - "resources/**"

# Comment configuration
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test types
flags:
  unit-tests:
    paths:
      - "!contracts/"
      - "!litt/"
    carryforward: false

  litt-tests:
    paths:
      - "litt/"
    carryforward: false

# Codecov CI configuration
codecov:
  notify:
    # Wait for all CI builds before sending notifications
    wait_for_ci: true

  # Require the codecov token for security
  require_ci_to_pass: true

# Component-based coverage tracking (optional)
component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - "core/**"

    - component_id: api
      name: API
      paths:
        - "api/**"
        - "!api/grpc/**"
        - "!api/**/mock/**"

    - component_id: disperser
      name: Disperser
      paths:
        - "disperser/**"
        - "!disperser/cmd/**"
        - "!disperser/**/mock/**"

    - component_id: node
      name: Node
      paths:
        - "node/**"
        - "!node/cmd/**"
        - "!node/**/mock/**"

    - component_id: encoding
      name: Encoding
      paths:
        - "encoding/**"
        - "!encoding/**/mock/**"

test: fix encoding_streamer_test
  disperser/batcher/encoding_streamer_test.go
Due: none

fix lint
  disperser/batcher/encoding_streamer_test.go
Due: none

Add srs table download utility
  encoding/bench/main.go
  tools/srs-utils/README.md
  tools/srs-utils/downloader/tables_downloader.go
  tools/srs-utils/downloader/tables_flags.go
  tools/srs-utils/main.go
Due: unit-tests

revert
  encoding/bench/main.go
Due: none

nit
  encoding/bench/main.go
Due: none

Start updating benchmark file to use v2 prover and verifier
  encoding/bench/main.go
  encoding/kzg/prover/prover.go
  encoding/kzg/prover/v2/prover.go
Due: unit-tests, Encoding

fix fmt-check
  tools/srs-utils/downloader/tables_downloader.go
  tools/srs-utils/downloader/tables_flags.go
Due: unit-tests

Add tools to ignore list for coverage
  codecov.yml
Due: unit-tests

Update grpc_service_availability_handler.go
  disperser/dataapi/grpc_service_availability_handler.go
Due: unit-tests, Disperser

incremental progress on unit tests
  common/logger_config.go
  common/ratelimit/leaky_bucket.go
  operators/ejector/ejection_manager.go
  operators/ejector/ejection_manager_test.go
  operators/ejector/mock_ejection_transactor.go
  test/random/random.go
Due: unit-tests

Fix bug in live test panel
  test/v2/live/live_network_test.go
Due: none

fix: bug in live test panel (#2062)
  test/v2/live/live_network_test.go
Due: none

fix test
  common/logger_config.go
  core/payments/reservation/reservation_ledger.go
  operators/ejector/ejection_manager.go
  operators/ejector/ejection_manager_test.go
  operators/ejector/mock_ejection_transactor.go
Due: unit-tests, Core

Add constructor blacklist test
  common/ratelimit/leaky_bucket.go
  operators/ejector/ejection_manager_test.go
Due: unit-tests

fix(payments): Fix on-demand insufficient funds behavior (#2055)
  api/clients/v2/examples/client_construction.go
  api/proxy/store/builder/storage_manager_builder.go
  api/proxy/test/e2e/server_rest_test.go
  api/proxy/test/testutils/setup.go
  core/payments/clientledger/client_ledger.go
  core/payments/clientledger/client_ledger_test.go
Due: unit-tests, Core, API

fix(payments): Properly synchronize vault monitor tests (#2056)
  core/payments/ondemand/test/on_demand_vault_monitor_test.go
  core/payments/reservation/reservation_vault_monitor_test.go
Due: none

Implement validator payment validation
  node/config.go
  node/flags/flags.go
  node/grpc/server_v2.go
  node/metrics.go
  node/node.go
Due: unit-tests, Node

Add todo comment
  node/flags/flags.go
Due: unit-tests, Node

Mention threadsafety
  node/node.go
Due: unit-tests, Node

style: fix typo computeMultiproofNumWorker
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/prover.go
Due: unit-tests, Encoding

chore: move FuzzOnlySystematic test to root Makefile
  Makefile
  api/proxy/Makefile
Due: unit-tests, API

Introduce proper versioning.
  common/version/current_version.go
  common/version/current_version_test.go
  common/version/semver.go
  common/version/semver_test.go
  node/cmd/main.go
  node/grpc/server.go
  node/grpc/server_v2.go
  node/node.go
  node/version.go
Due: unit-tests, Node

Fix comparison
  common/version/semver.go
  common/version/semver_test.go
Due: unit-tests

fix: interface description
  contracts/src/core/interfaces/IEigenDADirectory.sol
Due: none

more unit tests
  operators/ejector/ejection_manager_test.go
  operators/ejector/mock_ejection_transactor.go
Due: unit-tests

more tests
  operators/ejector/ejection_manager.go
  operators/ejector/ejection_manager_test.go
  operators/ejector/mock_ejection_transactor.go
Due: unit-tests

chore(gitignore): add **/testdata and **/SRSTable
  .gitignore
Due: unit-tests

test: fix v2 prover_test FuzzOnlySystematic
  encoding/kzg/prover/v2/prover_test.go
Due: none

fix(bloblength): use uint32 instead of uint (#2053)
  api/clients/retrieval_client.go
  api/clients/retrieval_client_test.go
  api/clients/v2/disperser_client.go
  api/grpc/encoder/v2/encoder_v2.pb.go
  api/proto/encoder/v2/encoder_v2.proto
  core/assignment.go
  core/assignment_test.go
  core/data.go
  core/serialization.go
  core/test/core_test.go
  core/v2/types.go
  core/validator.go
  disperser/apiserver/disperse_blob_v2.go
  disperser/apiserver/server.go
  disperser/apiserver/server_test.go
  disperser/apiserver/server_v2.go
  disperser/batcher/encoding_streamer.go
  disperser/batcher/encoding_streamer_test.go
  disperser/cmd/apiserver/lib/apiserver.go
  disperser/cmd/apiserver/lib/config.go
  disperser/common/blobstore/blob_metadata_store_test.go
  disperser/dataapi/server_test.go
  disperser/encoder/client.go
  disperser/encoder/server_test.go
  disperser/encoder/server_v2.go
  disperser/encoder/server_v2_test.go
  encoding/data.go
  encoding/kzg/prover/gnark/commitments.go
  encoding/kzg/prover/parametrized_prover.go
  encoding/kzg/prover/proof_backend.go
  encoding/kzg/prover/prover.go
  encoding/kzg/prover/v2/gnark/commitments.go
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/proof_backend.go
  encoding/kzg/prover/v2/prover.go
  encoding/utils.go
  node/grpc/server.go
  node/grpc/server_load_test.go
  test/v1/integration_test.go
Due: unit-tests, Core, API, Disperser, Encoding

made suggested changes
  common/version/semver.go
  common/version/semver_test.go
  node/version.go
Due: unit-tests, Node

Try enabling controller payments
  inabox/deploy/config.go
Due: none

fix: remove unreachable code in assignment test
  core/v2/assignment_test.go
Due: none

fix: revert previous changes
  contracts/bindings/EigenDARegistryCoordinator/binding.go
  contracts/bindings/RegistryCoordinator/binding.go
  contracts/generate-bindings.sh
  contracts/script/EigenDADeployer.s.sol
  contracts/script/EjectionManagerDeployer.s.sol
  contracts/script/SetUpEigenDA.s.sol
  contracts/script/deploy/certverifier/CertVerifierDeployerV1.s.sol
  contracts/script/deploy/eigenda/DeployEigenDA.s.sol
  contracts/script/deploy/eigenda/DeployEigenDAConfig.sol
  contracts/src/core/EigenDARegistryCoordinator.sol
  core/eth/quorum_scanner.go
  core/eth/reader.go
  core/eth/validator_id_to_address.go
  core/eth/writer.go
  core/indexer/operator_sockets.go
  core/indexer/operator_sockets_filterer.go
Due: unit-tests, Core

Allow version to be overriden
  common/version/current_version.go
  node/cmd/main.go
Due: unit-tests

Set more fields
  inabox/deploy/config.go
Due: none

Include git info if available
  node/cmd/main.go
  node/version.go
Due: unit-tests, Node

Added comment
  node/cmd/main.go
Due: none

Don't use global variables.
  common/version/current_version.go
  common/version/default_version.go
  common/version/default_version_test.go
  common/version/semver.go
  node/cmd/main.go
  node/grpc/server.go
  node/grpc/server_test.go
  node/grpc/server_v2.go
  node/grpc/server_v2_test.go
  node/node.go
  node/version.go
  test/v1/integration_test.go
Due: unit-tests, Node

Try again
  inabox/deploy/config.go
  inabox/deploy/env_vars.go
Due: none

feat: add cert verifier configs
  contracts/script/deploy/certverifier/config/v2/holesky.preprod.config.json
  contracts/script/deploy/certverifier/config/v2/hoodi.testnet.config.json
  contracts/script/deploy/certverifier/config/v2/mainnet.prod.config.json
  contracts/script/deploy/certverifier/config/v2/sepolia.testnet.config.json
Due: none
