Repository Layr-Labs/eigenda: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, litt-tests, Core, API, Disperser, Node, Encoding

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecovyml-reference

coverage:
  # Coverage precision (number of decimal places)
  precision: 1
  round: down

  # Coverage range for color coding (red to green)
  range: "30...80"

  status:
    project:
      default:
        # Only fail the status if coverage drops by more than 1%
        threshold: 1%
        target: auto

    patch:
      default:
        # Require at least 50% coverage on new/modified code
        target: 50%
        threshold: 5%

# Files and paths to ignore in coverage calculations
ignore:
  # Auto-generated contract bindings
  - "contracts/bindings/**"
  - "**/bindings/**"

  # Generated protobuf/grpc files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/grpc/**"

  # Mock files
  - "**/mock/**"
  - "**/mocks/**"
  - "**/*_mock.go"
  - "**/*_mocks.go"

  # Test files and test utilities
  - "**/*_test.go"
  - "**/test/**"
  - "**/tests/**"
  - "**/testutils/**"
  - "**/testdata/**"

  # Command-line entry points (main packages)
  - "**/cmd/**"
  - "**/main.go"

  # Documentation and examples
  - "**/docs/**"
  - "**/examples/**"
  - "**/example/**"

  # Generated files
  - "**/generated/**"
  - "**/*.generated.go"
  - "**/codegen/**"

  # Third-party and vendor
  - "vendor/**"
  - "third_party/**"

  # Build and deployment
  - "**/build/**"
  - "**/deploy/**"
  - "**/scripts/**"

  # Resource files
  - "resources/**"

# Comment configuration
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test types
flags:
  unit-tests:
    paths:
      - "!contracts/"
      - "!litt/"
    carryforward: false

  litt-tests:
    paths:
      - "litt/"
    carryforward: false

# Codecov CI configuration
codecov:
  notify:
    # Wait for all CI builds before sending notifications
    wait_for_ci: true

  # Require the codecov token for security
  require_ci_to_pass: true

# Component-based coverage tracking (optional)
component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - "core/**"

    - component_id: api
      name: API
      paths:
        - "api/**"
        - "!api/grpc/**"
        - "!api/**/mock/**"

    - component_id: disperser
      name: Disperser
      paths:
        - "disperser/**"
        - "!disperser/cmd/**"
        - "!disperser/**/mock/**"

    - component_id: node
      name: Node
      paths:
        - "node/**"
        - "!node/cmd/**"
        - "!node/**/mock/**"

    - component_id: encoding
      name: Encoding
      paths:
        - "encoding/**"
        - "!encoding/**/mock/**"

Move node plugin setup into testbed
  inabox/deploy/deploy.go
  inabox/node-plugin.sh
  node/plugin/tests/plugin_test.go
  test/testbed/node_plugin.go
Due: unit-tests

clarify embedded srs pts: rename to G1ReversePowerOf2SRS
  encoding/kzg/verifier/v2/verifier.go
  resources/srs/srs.go
Due: unit-tests, Encoding

Add back comment
  node/plugin/tests/plugin_test.go
Due: none

Use promauto
  core/meterer/on_demand_meterer_metrics.go
  core/payments/ondemand/on_demand_cache_metrics.go
  core/payments/ondemand/on_demand_validator_metrics.go
  core/payments/reservation/reservation_cache_metrics.go
  core/payments/reservation/reservation_validator_metrics.go
Due: unit-tests, Core

chore: Remove inabox dependency from plugin_test.go (#2041)
  inabox/deploy/deploy.go
  inabox/node-plugin.sh
  node/plugin/tests/plugin_test.go
  test/testbed/deploy_contracts.go
Due: unit-tests

feat(proxy): Incorporate ARB server into E2E framework (#2013)
  api/proxy/servers/arbitrum_altda/cli.go
  api/proxy/servers/arbitrum_altda/handlers.go
  api/proxy/servers/arbitrum_altda/server.go
  api/proxy/test/benchmark/benchmark_test.go
  api/proxy/test/e2e/op_contract_rest_test.go
  api/proxy/test/e2e/safety_checks_rest_test.go
  api/proxy/test/e2e/server_arb_test.go
  api/proxy/test/e2e/server_rest_test.go
  api/proxy/test/fuzz/server_fuzz_test.go
  api/proxy/test/testutils/setup.go
  api/proxy/test/testutils/test_suite.go
Due: unit-tests, API

fix: Client live test (#2039)
  test/v2/client/test_client.go
  test/v2/client/test_client_config.go
  test/v2/config/environment/testnet-sepolia.json
Due: none

chore: better PadPolyEval error msg
  encoding/rs/parametrized_encoder.go
Due: unit-tests, Encoding

docs: document ParamsFromSysPar fct
  encoding/params.go
Due: unit-tests, Encoding

test: better TestLengthProof function
  encoding/kzg/verifier/v2/length_test.go
Due: none

docs: fix couting typo
  encoding/kzg/verifier/v2/verifier.go
Due: unit-tests, Encoding

test: fix plugin_test
  node/plugin/tests/plugin_test.go
Due: none

fix: Client live test (#2039) (#2049)
  test/v2/client/test_client.go
  test/v2/client/test_client_config.go
  test/v2/config/environment/testnet-sepolia.json
Due: none

Try building arm images with arm runners
  .github/workflows/docker-publish-release.yaml
  Makefile
Due: unit-tests

Goreleaser for node/nodeplugin releases
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yaml
  Dockerfile
  Makefile
  node/cmd/main.go
  node/plugin/cmd/main.go
Due: unit-tests

fix icicle
  encoding/kzg/prover/v2/icicle.go
  encoding/kzg/prover/v2/icicle/multiframe_proof.go
Due: unit-tests, Encoding

address review comments
  encoding/serialization.go
Due: unit-tests, Encoding

move encoding/test_utils to common/math
  common/math/math_test.go
  encoding/test_utils.go
  encoding/utils_test.go
Due: unit-tests, Encoding

fix: blobLength type conversions
  disperser/apiserver/server_v2_test.go
  encoding/data.go
  node/grpc/server_v2.go
Due: unit-tests, Encoding

fix(prover-v2): math reference
  encoding/kzg/prover/v2/prover.go
Due: unit-tests, Encoding

feat: tests, getters
  contracts/src/core/EigenDADirectory.sol
  contracts/src/core/interfaces/IEigenDADirectory.sol
  contracts/src/core/libraries/v3/config-registry/ConfigRegistryConstants.sol
  contracts/src/core/libraries/v3/config-registry/ConfigRegistryLib.sol
  contracts/test/unit/ConfigRegistryUnit.t.sol
Due: none

Add graph node to testbed and remove subgraph.go StartGraphNode and StopGraphNode methods
  core/thegraph/state_integration_test.go
  inabox/deploy/cmd/main.go
  inabox/deploy/subgraph.go
  inabox/tests/integration_suite_test.go
  test/testbed/graph_node.go
Due: none

Add more cleanup
  inabox/Makefile
  inabox/bin.sh
Due: unit-tests

remove unused methods
  test/testbed/graph_node.go
Due: none

fix lint issues
  core/thegraph/state_integration_test.go
  test/testbed/graph_node.go
Due: none

Remove docker compose file
  inabox/Makefile
  inabox/thegraph/docker-compose.yml
Due: unit-tests

Add support for network
  core/thegraph/state_integration_test.go
  test/testbed/anvil.go
  test/testbed/deploy_subgraphs.go
  test/testbed/graph_node.go
  test/testbed/localstack.go
Due: none

try localhost
  core/thegraph/state_integration_test.go
  inabox/deploy/cmd/main.go
  inabox/tests/integration_suite_test.go
Due: none

move deploy subgraph into testbed package and remove inabox subgraph.go
  inabox/deploy/deploy.go
  inabox/deploy/subgraph.go
  test/testbed/deploy_subgraphs.go
Due: none

pr feedback and fix lint
  core/thegraph/state_integration_test.go
  inabox/tests/integration_suite_test.go
  test/testbed/anvil.go
  test/testbed/localstack.go
Due: none

Add cleanup for network
  inabox/tests/integration_suite_test.go
Due: none

Add errors
  inabox/tests/integration_suite_test.go
Due: none

remove redundant check
  inabox/deploy/cmd/main.go
Due: none

feat: Add graph node to testbed (#1987)
  core/thegraph/state_integration_test.go
  inabox/Makefile
  inabox/bin.sh
  inabox/deploy/cmd/main.go
  inabox/deploy/deploy.go
  inabox/deploy/subgraph.go
  inabox/tests/integration_suite_test.go
  inabox/thegraph/docker-compose.yml
  test/testbed/anvil.go
  test/testbed/deploy_subgraphs.go
  test/testbed/graph_node.go
  test/testbed/localstack.go
Due: unit-tests

fix: bindings
  contracts/bindings/IEigenDADirectory/binding.go
Due: none

fix several test flakes
  litt/disktable/flush_coordinator_test.go
  litt/test/unlock_test.go
Due: none

made suggested changes
  litt/test/unlock_test.go
Due: none

cleanup
  litt/test/unlock_test.go
Due: none

Update contracts/src/core/EigenDADirectory.sol
  contracts/src/core/EigenDADirectory.sol
Due: none
