Repository Layr-Labs/eigenda: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, litt-tests, Core, API, Disperser, Node, Encoding

fix(payments): Use proper `ReservationLedger` constructor (#2095)
  core/payments/reservation/reservation_ledger.go
Due: unit-tests, Core

fix: remove script merge conflict errors
  contracts/script/deploy/eigenda/DeployEigenDA.s.sol
  contracts/src/core/EigenDARegistryCoordinatorStorage.sol
Due: none

Expand tests
  core/payments/reservation/reservation.go
  inabox/Makefile
  inabox/deploy/config.go
  inabox/tests/payments/reservation_only_test.go
  inabox/tests/setup_test_harness.go
  inabox/tests/test_harness.go
Due: unit-tests, Core

Fix merge
  inabox/tests/integration_test.go
  inabox/tests/integration_v2_test.go
  inabox/tests/payments/reservation_only_test.go
  inabox/tests/utils.go
Due: none

Clean up
  disperser/controller/server/server.go
  inabox/tests/payments/payload_submitter.go
Due: unit-tests, Disperser

Refactor RelayURL configuration
  inabox/tests/integration_suite_test.go
  inabox/tests/setup_chain_harness.go
  inabox/tests/setup_disperser_harness.go
  inabox/tests/setup_infra.go
Due: none

controller(v2): write per-operator dispersal status for all operators
  core/v2/types.go
  disperser/controller/dispatcher.go
Due: unit-tests, Core, Disperser

Apply suggestions from code review
  disperser/controller/dispatcher.go
Due: unit-tests, Disperser

Add relay to the disperser harness
  inabox/bin.sh
  inabox/tests/setup_disperser_harness.go
  inabox/tests/setup_infra.go
  inabox/tests/test_harness.go
  test/testbed/deploy_localstack_resources.go
  test/testbed/localstack.go
Due: unit-tests

fix lint
  inabox/tests/setup_disperser_harness.go
  test/testbed/deploy_localstack_resources.go
Due: none

add source to logs
  inabox/tests/setup_chain_harness.go
  inabox/tests/setup_disperser_harness.go
  inabox/tests/setup_operator_harness.go
Due: none

Make sure deploySubgraph returns to the original directory
  test/testbed/deploy_subgraphs.go
Due: none

refactor(prover-v2): split off kzg committer into separate struct
  api/clients/v2/disperser_client.go
  api/clients/v2/examples/client_construction.go
  api/clients/v2/payloadretrieval/relay_payload_retriever_test.go
  api/clients/v2/validator/validator_non_mock_test.go
  api/proxy/store/builder/storage_manager_builder.go
  core/v2/core_test.go
  core/v2/serialization_test.go
  core/v2/types_test.go
  disperser/apiserver/disperse_blob_v2.go
  disperser/apiserver/server_test.go
  disperser/apiserver/server_v2.go
  disperser/apiserver/server_v2_test.go
  disperser/cmd/apiserver/flags/flags.go
  disperser/cmd/apiserver/lib/apiserver.go
  disperser/cmd/apiserver/lib/config.go
  encoding/kzg/committer/committer.go
  encoding/kzg/prover/v2/gnark/commitments.go
  encoding/kzg/prover/v2/icicle.go
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/parametrized_prover_test.go
  encoding/kzg/prover/v2/proof_backend.go
  encoding/kzg/prover/v2/prover.go
  encoding/kzg/prover/v2/prover_test.go
  encoding/kzg/verifier/v2/batch_commit_equivalence_test.go
  encoding/kzg/verifier/v2/frame_test.go
  encoding/kzg/verifier/v2/length_test.go
  encoding/kzg/verifier/v2/multiframe_test.go
  encoding/kzg/verifier/v2/test_harness_test.go
  encoding/kzg/verifier/v2/verifier.go
  encoding/kzg/verifier/v2/verifier_test.go
  test/v2/client/test_client.go
Due: unit-tests, API, Disperser, Encoding

Add tracing
  encoding/bench/main.go
Due: none

fix lint
  api/clients/v2/examples/client_construction.go
  api/clients/v2/validator/validator_non_mock_test.go
  api/proxy/store/builder/storage_manager_builder.go
  api/proxy/store/generated_key/memstore/v2/memstore.go
  api/proxy/store/generated_key/memstore/v2/memstore_test.go
  core/v2/core_test.go
  encoding/kzg/committer/committer.go
Due: unit-tests, API, Encoding

test: fix relay_payload_retriever_tests (powOf2 srs nums)
  api/clients/v2/payloadretrieval/relay_payload_retriever_test.go
Due: none

Add more documentation on DeployResourcesConfig + minor refactor
  disperser/apiserver/server_test.go
  inabox/deploy/cmd/main.go
  inabox/tests/setup_disperser_harness.go
  test/testbed/deploy_localstack_resources.go
Due: none

imporve deploy_subgraphs.go based on feedback
  subgraphs/yarn.lock
  test/testbed/deploy_subgraphs.go
Due: unit-tests

fix(inabox): make srs order power of 2
  inabox/templates/testconfig-anvil-nochurner.yaml
  inabox/templates/testconfig-anvil.yaml
Due: unit-tests

fix verifier-v2 test_harness
  encoding/kzg/verifier/v2/test_harness_test.go
Due: none

simplify context a bit
  core/thegraph/state_integration_test.go
  inabox/tests/integration_suite_test.go
  inabox/tests/setup_disperser_harness.go
  inabox/tests/setup_infra.go
  inabox/tests/setup_operator_harness.go
  test/testbed/deploy_subgraphs.go
Due: none

precreate listeners with os allocated ports
  inabox/tests/integration_suite_test.go
  inabox/tests/setup_disperser_harness.go
  inabox/tests/setup_infra.go
  relay/server.go
Due: unit-tests

add todos
  inabox/tests/setup_disperser_harness.go
  inabox/tests/setup_operator_harness.go
Due: none

fix unit-tests and lint
  inabox/tests/setup_disperser_harness.go
  inabox/tests/setup_operator_harness.go
  relay/server_test.go
Due: none

feat(proxy): Add error-on-secondary-insert-failure flag configuration
  api/proxy/store/cli.go
  api/proxy/store/config.go
  api/proxy/store/secondary/cli.go
Due: unit-tests, API

add error propagation for secondary storage failures
  api/proxy/store/builder/storage_manager_builder.go
  api/proxy/store/eigenda_manager.go
  api/proxy/store/secondary/secondary.go
Due: unit-tests, API

add validation tests for error-on-secondary-insert-failure flag
  api/proxy/store/validation_test.go
Due: none

fix length_tests
  encoding/kzg/verifier/v2/length_test.go
Due: none

feat: add holesky testnet cert verifier cfg (#2088)
  contracts/script/deploy/certverifier/config/v2/holesky.testnet.config.json
Due: none

finish ejector
  core/eth/validator_id_to_address.go
  ejector/ejection_criteria.go
  ejector/ejector.go
Due: unit-tests, Core

chore: add some comments
  contracts/src/core/EigenDARegistryCoordinator.sol
Due: none

Make config simplifications
  contracts/script/EigenDADeployer.s.sol
  contracts/script/SetUpEigenDA.s.sol
  inabox/deploy/config_types.go
  inabox/deploy/deploy.go
  inabox/tests/payments/reservation_only_test.go
  inabox/tests/setup_infra.go
Due: none

remove powOf2 srs requirements from committer constructor
  encoding/kzg/committer/committer.go
Due: unit-tests, Encoding

revert inabox to old srs_order numbers
  inabox/templates/testconfig-anvil.yaml
Due: unit-tests

Add doc for SubmitPayloads
  inabox/tests/payments/payload_submitter.go
Due: none

chore: generalize the leaky bucket so it can be used elsewhere in the codebase (#2073)
  api/clients/v2/examples/client_construction.go
  api/proxy/store/builder/storage_manager_builder.go
  common/ratelimit/leaky_bucket.go
  common/ratelimit/leaky_bucket_test.go
  common/ratelimit/overfill_behavior.go
  core/payments/clientledger/client_ledger.go
  core/payments/clientledger/client_ledger_test.go
  core/payments/reservation/errors.go
  core/payments/reservation/overfill_behavior.go
  core/payments/reservation/reservation_ledger.go
  core/payments/reservation/reservation_ledger_config.go
  core/payments/reservation/reservation_ledger_test.go
  core/payments/reservation/reservationvalidation/reservation_ledger_cache.go
  core/payments/reservation/reservationvalidation/reservation_ledger_cache_config.go
  core/payments/reservation/reservationvalidation/reservation_ledger_cache_test.go
  core/payments/reservation/reservationvalidation/reservation_payment_validator.go
  core/payments/reservation/reservationvalidation/reservation_payment_validator_test.go
  disperser/cmd/controller/config.go
  disperser/controller/payments/payment_authorization_handler.go
  node/config.go
Due: unit-tests, Core, API, Disperser, Node

Try to fix linter pr base
  .github/workflows/golangci-lint.yml
Due: unit-tests

incremental progress
  common/config/config_parser.go
  common/config/config_test.go
  common/config/testdata/config.json
  common/config/testdata/config.toml
  common/config/testdata/config.yml
  common/config/verifiable_config.go
  ejector/ejection_manager.go
  ejector/ejector_config.go
  ejector/main/main.go
  go.mod
  go.sum
Due: unit-tests

Set root path
  core/thegraph/state_integration_test.go
Due: none

feat(contracts): use address directory in registry coordinator (#2089)
  contracts/bindings/EigenDARegistryCoordinator/binding.go
  contracts/script/EigenDADeployer.s.sol
  contracts/script/deploy/eigenda/DeployEigenDA.s.sol
  contracts/src/core/EigenDARegistryCoordinator.sol
  contracts/src/core/EigenDARegistryCoordinatorStorage.sol
Due: none

Path conditions:
  unit-tests: any file but: contracts/, litt/, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  litt-tests: any of: litt/, but not: contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Core: any of: core/**, but not: contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  API: any of: api/**, but not: api/grpc/**, api/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Disperser: any of: disperser/**, but not: disperser/cmd/**, disperser/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Node: any of: node/**, but not: node/cmd/**, node/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Encoding: any of: encoding/**, but not: encoding/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
