Repository Layr-Labs/eigenda: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, litt-tests, Core, API, Disperser, Node, Encoding

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecovyml-reference

coverage:
  # Coverage precision (number of decimal places)
  precision: 1
  round: down

  # Coverage range for color coding (red to green)
  range: "30...80"

  status:
    project:
      default:
        # Only fail the status if coverage drops by more than 1%
        threshold: 1%
        target: auto

    patch:
      default:
        # Require at least 50% coverage on new/modified code
        target: 50%
        threshold: 5%

# Files and paths to ignore in coverage calculations
ignore:
  # Auto-generated contract bindings
  - "contracts/bindings/**"
  - "**/bindings/**"

  # Generated protobuf/grpc files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/grpc/**"

  # Mock files
  - "**/mock/**"
  - "**/mocks/**"
  - "**/*_mock.go"
  - "**/*_mocks.go"

  # Test files and test utilities
  - "**/*_test.go"
  - "**/test/**"
  - "**/tests/**"
  - "**/testutils/**"
  - "**/testdata/**"

  # Command-line entry points (main packages)
  - "**/cmd/**"
  - "**/main.go"

  # Documentation and examples
  - "**/docs/**"
  - "**/examples/**"
  - "**/example/**"

  # Generated files
  - "**/generated/**"
  - "**/*.generated.go"
  - "**/codegen/**"

  # Third-party and vendor
  - "vendor/**"
  - "third_party/**"

  # Build and deployment
  - "**/build/**"
  - "**/deploy/**"
  - "**/scripts/**"

  # Resource files
  - "resources/**"

# Comment configuration
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test types
flags:
  unit-tests:
    paths:
      - "!contracts/"
      - "!litt/"
    carryforward: false

  litt-tests:
    paths:
      - "litt/"
    carryforward: false

# Codecov CI configuration
codecov:
  notify:
    # Wait for all CI builds before sending notifications
    wait_for_ci: true

  # Require the codecov token for security
  require_ci_to_pass: true

# Component-based coverage tracking (optional)
component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - "core/**"

    - component_id: api
      name: API
      paths:
        - "api/**"
        - "!api/grpc/**"
        - "!api/**/mock/**"

    - component_id: disperser
      name: Disperser
      paths:
        - "disperser/**"
        - "!disperser/cmd/**"
        - "!disperser/**/mock/**"

    - component_id: node
      name: Node
      paths:
        - "node/**"
        - "!node/cmd/**"
        - "!node/**/mock/**"

    - component_id: encoding
      name: Encoding
      paths:
        - "encoding/**"
        - "!encoding/**/mock/**"

feat(payments): Add controller payment metrics (#2044)
  core/meterer/on_demand_meterer.go
  core/meterer/on_demand_meterer_metrics.go
  core/meterer/on_demand_meterer_test.go
  core/payments/ondemand/on_demand_cache_metrics.go
  core/payments/ondemand/on_demand_ledger_cache.go
  core/payments/ondemand/on_demand_ledger_cache_test.go
  core/payments/ondemand/on_demand_payment_validator.go
  core/payments/ondemand/on_demand_payment_validator_test.go
  core/payments/ondemand/on_demand_validator_metrics.go
  core/payments/reservation/reservation_cache_metrics.go
  core/payments/reservation/reservation_ledger_cache.go
  core/payments/reservation/reservation_ledger_cache_test.go
  core/payments/reservation/reservation_payment_validator.go
  core/payments/reservation/reservation_payment_validator_test.go
  core/payments/reservation/reservation_validator_metrics.go
  disperser/cmd/controller/main.go
  disperser/controller/metrics/server_metrics.go
  disperser/controller/payments/payment_authorization_handler.go
  disperser/controller/server/server.go
Due: unit-tests, Core, Disperser

move leaky bucket
  api/proxy/store/builder/storage_manager_builder.go
  common/ratelimit/leaky_bucket.go
  common/ratelimit/leaky_bucket_test.go
  common/ratelimit/overfill_behavior.go
  common/ratelimit/ratelimit_test.go
  core/payments/clientledger/client_ledger.go
  core/payments/clientledger/client_ledger_test.go
  core/payments/reservation/errors.go
  core/payments/reservation/reservation_ledger.go
  core/payments/reservation/reservation_ledger_cache.go
  core/payments/reservation/reservation_ledger_cache_config.go
  core/payments/reservation/reservation_ledger_cache_test.go
  core/payments/reservation/reservation_ledger_config.go
  core/payments/reservation/reservation_ledger_test.go
  core/payments/reservation/reservation_payment_validator_test.go
  operators/ejector/mock_ejection_transactor.go
Due: unit-tests, Core, API

fix: several test flakes (#2051)
  litt/disktable/flush_coordinator_test.go
  litt/test/unlock_test.go
Due: none

incremental progress
  common/ratelimit/leaky_bucket.go
  common/ratelimit/leaky_bucket_test.go
  core/payments/reservation/reservation_ledger.go
  operators/ejector/ejection_manager.go
  operators/ejector/legacy/ejector.go
  operators/ejector/legacy/metrics.go
  operators/ejector/threaded_ejection_manager.go
Due: unit-tests, Core

refactor: cleanup refactoring/serialization (#2040)
  api/clients/node_client.go
  core/data.go
  core/data_test.go
  core/test/core_test.go
  disperser/encoder/server.go
  disperser/encoder/server_test.go
  disperser/encoder/server_v2_test.go
  disperser/local_encoder_client.go
  encoding/kzg/prover/decode_test.go
  encoding/kzg/prover/v2/decode_test.go
  encoding/rs/frame_proofs.go
  encoding/rs/frame_proofs_test.go
  encoding/serialization.go
  encoding/serialization_test.go
  node/grpc/server.go
  node/grpc/server_load_test.go
  node/grpc/server_test.go
  node/store_test.go
  node/utils.go
  relay/chunk_provider_test.go
  relay/chunkstore/chunk_reader.go
  relay/chunkstore/chunk_store_test.go
  relay/chunkstore/chunk_writer.go
  test/v1/integration_test.go
Due: unit-tests, Core, API, Disperser, Node, Encoding

chore: create new math package (#1990)
  api/clients/codecs/fft.go
  api/clients/v2/coretypes/blob.go
  api/clients/v2/coretypes/encoded_payload.go
  api/clients/v2/coretypes/payload.go
  api/clients/v2/payloadretrieval/relay_payload_retriever.go
  api/clients/v2/payloadretrieval/relay_payload_retriever_test.go
  api/clients/v2/payloadretrieval/validator_payload_retriever.go
  common/math/math.go
  common/math/math_test.go
  disperser/apiserver/disperse_blob_v2.go
  disperser/apiserver/server_v2_test.go
  disperser/cmd/apiserver/lib/apiserver.go
  disperser/controller/dispatcher.go
  encoding/data.go
  encoding/fft/fft.go
  encoding/fft/fft_fr.go
  encoding/fft/fft_fr_test.go
  encoding/fft/fft_g1.go
  encoding/fft/zero_poly.go
  encoding/kzg/prover/prover.go
  encoding/kzg/prover/v2/prover.go
  encoding/params.go
  encoding/test_utils.go
  encoding/utils.go
  encoding/utils/codec/codec.go
  encoding/utils_test.go
  node/grpc/server_v2.go
  test/v2/load/load_generator.go
Due: unit-tests, API, Disperser, Encoding

Remove unneeded change
  disperser/controller/payments/payment_authorization_handler.go
Due: unit-tests, Disperser

Change names to match contracts
  api/clients/v2/examples/client_construction.go
Due: none

Use router from registry
  api/clients/v2/examples/client_construction.go
  api/clients/v2/examples/example_relay_retrieval_test.go
  api/clients/v2/examples/example_validator_retrieval_test.go
  core/eth/directory/contract_names.go
Due: unit-tests, Core

Get address earlier in construction
  api/clients/v2/examples/client_construction.go
  api/clients/v2/examples/example_relay_retrieval_test.go
  api/clients/v2/examples/example_validator_retrieval_test.go
Due: none

Add rate limiting
  common/ratelimit/leaky_bucket.go
  disperser/cmd/controller/config.go
  disperser/controller/payments/payment_authorization_handler.go
  operators/ejector/ejection_criteria.go
  operators/ejector/ejection_manager.go
  operators/ejector/threaded_ejection_manager.go
Due: unit-tests, Disperser

Do more boilerplate work to examples
  api/clients/v2/examples/client_construction.go
  api/clients/v2/examples/example_relay_retrieval_test.go
  api/clients/v2/examples/example_validator_retrieval_test.go
Due: none

feat(payments): Add client ledger to example (#2042)
  api/clients/v2/examples/client_construction.go
  api/clients/v2/examples/example_relay_retrieval_test.go
  api/clients/v2/examples/example_validator_retrieval_test.go
  core/eth/directory/contract_names.go
Due: unit-tests, Core

Rely on test context cancelation, instead of doing it manually
  core/payments/ondemand/on_demand_vault_monitor_test.go
  core/payments/reservation/reservation_vault_monitor_test.go
Due: none

fix(payments): Rely on test context cancelation, instead of doing it manually (#2052)
  core/payments/ondemand/on_demand_vault_monitor_test.go
  core/payments/reservation/reservation_vault_monitor_test.go
Due: none

fix(blobLength): use uint32 instead of uint
  api/clients/retrieval_client.go
  api/clients/retrieval_client_test.go
  api/clients/v2/disperser_client.go
  api/grpc/encoder/v2/encoder_v2.pb.go
  api/proto/encoder/v2/encoder_v2.proto
  core/assignment.go
  core/assignment_test.go
  core/data.go
  core/serialization.go
  core/test/core_test.go
  core/v2/types.go
  core/validator.go
  disperser/apiserver/disperse_blob_v2.go
  disperser/apiserver/server.go
  disperser/apiserver/server_test.go
  disperser/apiserver/server_v2.go
  disperser/batcher/encoding_streamer.go
  disperser/cmd/apiserver/lib/apiserver.go
  disperser/cmd/apiserver/lib/config.go
  disperser/common/blobstore/blob_metadata_store_test.go
  disperser/dataapi/server_test.go
  disperser/encoder/client.go
  disperser/encoder/server_test.go
  disperser/encoder/server_v2.go
  disperser/encoder/server_v2_test.go
  encoding/data.go
  encoding/kzg/prover/gnark/commitments.go
  encoding/kzg/prover/parametrized_prover.go
  encoding/kzg/prover/proof_backend.go
  encoding/kzg/prover/prover.go
  encoding/kzg/prover/v2/gnark/commitments.go
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/proof_backend.go
  encoding/kzg/prover/v2/prover.go
  encoding/utils.go
  node/grpc/server.go
  node/grpc/server_load_test.go
  test/v1/integration_test.go
Due: unit-tests, Core, API, Disperser, Encoding

Reorganize payment packages
  core/payments/ondemand/CLAUDE.md
  core/payments/ondemand/ondemandvalidation/CLAUDE.md
  core/payments/ondemand/ondemandvalidation/on_demand_cache_metrics.go
  core/payments/ondemand/ondemandvalidation/on_demand_ledger_cache.go
  core/payments/ondemand/ondemandvalidation/on_demand_ledger_cache_config.go
  core/payments/ondemand/ondemandvalidation/on_demand_payment_validator.go
  core/payments/ondemand/ondemandvalidation/on_demand_validator_metrics.go
  core/payments/ondemand/test/cumulative_payment_store_test.go
  core/payments/ondemand/test/on_demand_ledger_cache_test.go
  core/payments/ondemand/test/on_demand_ledger_test.go
  core/payments/ondemand/test/on_demand_payment_validator_test.go
  core/payments/ondemand/test/on_demand_vault_monitor_test.go
  core/payments/ondemand/test/setup_test.go
  core/payments/reservation/CLAUDE.md
  core/payments/reservation/reservationvalidation/CLAUDE.md
  core/payments/reservation/reservationvalidation/reservation_cache_metrics.go
  core/payments/reservation/reservationvalidation/reservation_ledger_cache.go
  core/payments/reservation/reservationvalidation/reservation_ledger_cache_config.go
  core/payments/reservation/reservationvalidation/reservation_ledger_cache_test.go
  core/payments/reservation/reservationvalidation/reservation_payment_validator.go
  core/payments/reservation/reservationvalidation/reservation_payment_validator_test.go
  core/payments/reservation/reservationvalidation/reservation_validator_metrics.go
  disperser/cmd/controller/config.go
  disperser/cmd/controller/main.go
  disperser/controller/payments/payment_authorization_handler.go
Due: unit-tests, Core, Disperser

remove old test debug comment
  encoding/kzg/verifier/v2/length_test.go
Due: none

fix(merge-issues): math fcts were moved
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/verifier/v2/verifier.go
Due: unit-tests, Encoding

fix lint
  disperser/cmd/apiserver/lib/apiserver.go
  node/grpc/server_load_test.go
Due: none

style: fix proto lint issue
  api/proto/encoder/v2/encoder_v2.proto
Due: unit-tests, API

chore(prover): delete unused functions + make private fcts that should be
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/prover.go
Due: unit-tests, Encoding

refactor: move decode method to parametrized_prover v2 file
  encoding/kzg/prover/v2/decode.go
  encoding/kzg/prover/v2/decode_test.go
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/parametrized_prover_test.go
Due: unit-tests, Encoding

docs: move comment from makefile to fuzz file
  api/proxy/Makefile
  api/proxy/test/fuzz/server_fuzz_test.go
Due: unit-tests, API

chore: move prover_fuzz_test test to prover_test
  encoding/kzg/prover/v2/prover_fuzz_test.go
  encoding/kzg/prover/v2/prover_test.go
Due: none

test: add FuzzOnlySystematic fuzz test to makefile target
  api/proxy/Makefile
Due: unit-tests, API

Fix on-demand, and enable proxy test
  api/clients/v2/examples/client_construction.go
  api/proxy/store/builder/storage_manager_builder.go
  api/proxy/test/e2e/server_rest_test.go
  api/proxy/test/testutils/setup.go
  core/payments/clientledger/client_ledger.go
Due: unit-tests, Core, API

feat(payments): Reorganize payment packages (#2054)
  core/payments/ondemand/CLAUDE.md
  core/payments/ondemand/ondemandvalidation/CLAUDE.md
  core/payments/ondemand/ondemandvalidation/on_demand_cache_metrics.go
  core/payments/ondemand/ondemandvalidation/on_demand_ledger_cache.go
  core/payments/ondemand/ondemandvalidation/on_demand_ledger_cache_config.go
  core/payments/ondemand/ondemandvalidation/on_demand_payment_validator.go
  core/payments/ondemand/ondemandvalidation/on_demand_validator_metrics.go
  core/payments/ondemand/test/cumulative_payment_store_test.go
  core/payments/ondemand/test/on_demand_ledger_cache_test.go
  core/payments/ondemand/test/on_demand_ledger_test.go
  core/payments/ondemand/test/on_demand_payment_validator_test.go
  core/payments/ondemand/test/on_demand_vault_monitor_test.go
  core/payments/ondemand/test/setup_test.go
  core/payments/reservation/CLAUDE.md
  core/payments/reservation/reservationvalidation/CLAUDE.md
  core/payments/reservation/reservationvalidation/reservation_cache_metrics.go
  core/payments/reservation/reservationvalidation/reservation_ledger_cache.go
  core/payments/reservation/reservationvalidation/reservation_ledger_cache_config.go
  core/payments/reservation/reservationvalidation/reservation_ledger_cache_test.go
  core/payments/reservation/reservationvalidation/reservation_payment_validator.go
  core/payments/reservation/reservationvalidation/reservation_payment_validator_test.go
  core/payments/reservation/reservationvalidation/reservation_validator_metrics.go
  disperser/cmd/controller/config.go
  disperser/cmd/controller/main.go
  disperser/controller/payments/payment_authorization_handler.go
Due: unit-tests, Core, Disperser

Skip on-demand test unless on sepolia
  api/proxy/test/e2e/server_rest_test.go
Due: none

refactor: make ParametrizedProver field private
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/prover.go
Due: unit-tests, Encoding

refactor: ParametrizedProver only takes 2 fields it needs from kzgConfig
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/prover.go
Due: unit-tests, Encoding

Fix test synchronization issues
  core/payments/ondemand/test/on_demand_vault_monitor_test.go
  core/payments/reservation/reservation_vault_monitor_test.go
Due: none

refactor(prover-v2): delete EncodeAndProve
  encoding/kzg/prover/prover_test.go
  encoding/kzg/prover/v2/prover.go
  encoding/kzg/prover/v2/prover_test.go
  encoding/kzg/verifier/v2/verifier_test.go
Due: unit-tests, Encoding

Fix unit test
  core/payments/clientledger/client_ledger_test.go
Due: none

refactor: delete unused ParametrizedProver.EncodeBytes
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/prover.go
  encoding/kzg/prover/v2/prover_test.go
  encoding/kzg/verifier/v2/frame_test.go
Due: unit-tests, Encoding

chore(prover-v2): delete Decode fcts
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/prover.go
  encoding/kzg/prover/v2/prover_test.go
Due: unit-tests, Encoding

refactor(prover-v2): delete Encode
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/parametrized_prover_test.go
  encoding/kzg/prover/v2/prover.go
  encoding/kzg/verifier/v2/batch_commit_equivalence_test.go
  encoding/kzg/verifier/v2/length_test.go
  encoding/kzg/verifier/v2/multiframe_test.go
Due: unit-tests, Encoding

docs(prover-v2): document TODO to split commitment from prover
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/prover.go
Due: unit-tests, Encoding

style: fix lint
  encoding/kzg/verifier/v2/length_test.go
Due: none
