Repository Layr-Labs/eigenda: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, litt-tests, Core, API, Disperser, Node, Encoding

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecovyml-reference

coverage:
  # Coverage precision (number of decimal places)
  precision: 1
  round: down

  # Coverage range for color coding (red to green)
  range: "30...80"

  status:
    project:
      default:
        # Only fail the status if coverage drops by more than 1%
        threshold: 1%
        target: auto

    patch:
      default:
        # Require at least 50% coverage on new/modified code
        target: 50%
        threshold: 5%

# Files and paths to ignore in coverage calculations
ignore:
  # Auto-generated contract bindings
  - "contracts/bindings/**"
  - "**/bindings/**"

  # Generated protobuf/grpc files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/grpc/**"

  # Mock files
  - "**/mock/**"
  - "**/mocks/**"
  - "**/*_mock.go"
  - "**/*_mocks.go"

  # Test files and test utilities
  - "**/*_test.go"
  - "**/test/**"
  - "**/tests/**"
  - "**/testutils/**"
  - "**/testdata/**"

  # Command-line entry points (main packages)
  - "**/cmd/**"
  - "**/main.go"

  # Documentation and examples
  - "**/docs/**"
  - "**/examples/**"
  - "**/example/**"

  # Generated files
  - "**/generated/**"
  - "**/*.generated.go"
  - "**/codegen/**"

  # Third-party and vendor
  - "vendor/**"
  - "third_party/**"

  # Build and deployment
  - "**/build/**"
  - "**/deploy/**"
  - "**/scripts/**"

  # Resource files
  - "resources/**"

# Comment configuration
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test types
flags:
  unit-tests:
    paths:
      - "!contracts/"
      - "!litt/"
    carryforward: false

  litt-tests:
    paths:
      - "litt/"
    carryforward: false

# Codecov CI configuration
codecov:
  notify:
    # Wait for all CI builds before sending notifications
    wait_for_ci: true

  # Require the codecov token for security
  require_ci_to_pass: true

# Component-based coverage tracking (optional)
component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - "core/**"

    - component_id: api
      name: API
      paths:
        - "api/**"
        - "!api/grpc/**"
        - "!api/**/mock/**"

    - component_id: disperser
      name: Disperser
      paths:
        - "disperser/**"
        - "!disperser/cmd/**"
        - "!disperser/**/mock/**"

    - component_id: node
      name: Node
      paths:
        - "node/**"
        - "!node/cmd/**"
        - "!node/**/mock/**"

    - component_id: encoding
      name: Encoding
      paths:
        - "encoding/**"
        - "!encoding/**/mock/**"

refactor: cleanup refactoring/serialization
  encoding/kzg/prover/decode_test.go
  encoding/kzg/prover/v2/decode_test.go
  encoding/serialization.go
Due: unit-tests, Encoding

refactor: move frame_proofs.go to serialization.go
  disperser/encoder/server_v2_test.go
  encoding/rs/frame_proofs.go
  encoding/rs/frame_proofs_test.go
  encoding/serialization.go
  encoding/serialization_test.go
  relay/chunk_provider_test.go
  relay/chunkstore/chunk_reader.go
  relay/chunkstore/chunk_store_test.go
  relay/chunkstore/chunk_writer.go
Due: unit-tests, Encoding

test: fix TestEncodeDecodeFrame_AreInverses
  encoding/kzg/prover/decode_test.go
  encoding/kzg/prover/v2/decode_test.go
Due: none

feat: use old registry coordinator for CI
  contracts/generate-bindings.sh
  contracts/script/SetUpEigenDA.s.sol
  contracts/script/deploy/eigenda/DeployEigenDA.s.sol
  contracts/src/core/EigenDARegistryCoordinator.sol
  contracts/src/core/EigenDARegistryCoordinatorStorage.sol
Due: none

fix: deployer script
  contracts/script/EigenDADeployer.s.sol
Due: none

fix: bindings
  contracts/bindings/EigenDARegistryCoordinator/binding.go
  contracts/bindings/RegistryCoordinator/binding.go
Due: none

fix: ci
  contracts/script/EjectionManagerDeployer.s.sol
  contracts/script/deploy/certverifier/CertVerifierDeployerV1.s.sol
  contracts/script/deploy/eigenda/DeployEigenDAConfig.sol
  contracts/src/core/EigenDARegistryCoordinator.sol
  core/eth/quorum_scanner.go
  core/eth/reader.go
  core/eth/validator_id_to_address.go
  core/eth/writer.go
  core/indexer/operator_sockets.go
  core/indexer/operator_sockets_filterer.go
Due: unit-tests, Core

Add instructions for claude for generating release notes.
  .claude/commands/release-notes.md
Due: unit-tests

docs(payments): Document new payment system (#1983)
  docs/spec/src/protocol/payments/payment_system.md
Due: none

Add client ledger to example
  api/clients/v2/examples/client_construction.go
Due: none

update claude command
  .claude/commands/generate-release-notes.md
  .claude/commands/release-notes.md
Due: unit-tests

fix minor issues
  core/signingrate/dynamo_signing_rate_storage.go
  core/signingrate/signing_rate_storage_test.go
Due: unit-tests, Core

Add more documentation
  core/signingrate/dynamo_signing_rate_storage.go
Due: unit-tests, Core

Push metrics down
  core/meterer/on_demand_meterer.go
  core/meterer/on_demand_meterer_metrics.go
  core/meterer/on_demand_meterer_test.go
  core/payments/ondemand/on_demand_cache_metrics.go
  core/payments/ondemand/on_demand_ledger_cache.go
  core/payments/ondemand/on_demand_ledger_cache_test.go
  core/payments/ondemand/on_demand_payment_validator.go
  core/payments/ondemand/on_demand_payment_validator_test.go
  core/payments/ondemand/on_demand_validator_metrics.go
  core/payments/reservation/reservation_cache_metrics.go
  core/payments/reservation/reservation_ledger_cache.go
  core/payments/reservation/reservation_ledger_cache_test.go
  core/payments/reservation/reservation_payment_validator.go
  core/payments/reservation/reservation_payment_validator_test.go
  core/payments/reservation/reservation_validator_metrics.go
  disperser/cmd/controller/main.go
  disperser/controller/metrics/payment_authorization_metrics.go
  disperser/controller/metrics/server_metrics.go
  disperser/controller/payments/payment_authorization_handler.go
Due: unit-tests, Core, Disperser

Add payment metrics
  core/payments/ondemand/on_demand_ledger_cache.go
  core/payments/ondemand/on_demand_payment_validator.go
  core/payments/reservation/reservation_ledger_cache.go
  core/payments/reservation/reservation_payment_validator.go
  disperser/cmd/controller/main.go
  disperser/controller/metrics/payment_authorization_metrics.go
  disperser/controller/metrics/server_metrics.go
  disperser/controller/payments/payment_authorization_handler.go
  disperser/controller/server/server.go
Due: unit-tests, Core, Disperser

Clean up
  core/payments/ondemand/on_demand_ledger_cache.go
  core/payments/ondemand/on_demand_validator_metrics.go
  core/payments/reservation/reservation_payment_validator.go
  core/payments/reservation/reservation_validator_metrics.go
  disperser/controller/payments/payment_authorization_handler.go
  disperser/controller/server/server.go
Due: unit-tests, Core, Disperser

added a bunch of place holders
  operators/ejector/controller_signing_rate_lookup.go
  operators/ejector/dynamo_signing_rate_lookup.go
  operators/ejector/ejection_criteria.go
  operators/ejector/ejection_criteria_test.go
  operators/ejector/ejection_manager.go
  operators/ejector/ejection_manager_test.go
  operators/ejector/ejector.go
  operators/ejector/ejector_config.go
  operators/ejector/legacy/ejector.go
  operators/ejector/legacy/metrics.go
  operators/ejector/mock_ejection_transactor.go
  operators/ejector/signing_rate_lookup.go
  operators/ejector/threaded_ejection_manager.go
Due: unit-tests

Improve metric method name
  core/payments/reservation/reservation_payment_validator.go
  core/payments/reservation/reservation_validator_metrics.go
Due: unit-tests, Core

Prevent double registration
  core/payments/ondemand/on_demand_cache_metrics.go
  core/payments/reservation/reservation_cache_metrics.go
Due: unit-tests, Core

fix: icicle build
  encoding/kzg/prover/v2/icicle/multiframe_proof.go
Due: unit-tests, Encoding

feat(payments): Implement basic e2e payments tests (#2017)
  api/proxy/test/e2e/server_test.go
  api/proxy/test/testutils/setup.go
Due: none

feat(mdbook): Add non-revertable updates to integrations spec
  docs/spec/src/integration/spec/5-lifecycle-phases.md
  docs/spec/src/integration/spec/6-secure-integration.md
Due: none

feat(proxy): V2 as default storage backend
  api/proxy/store/cli.go
Due: unit-tests, API

feat(proxy): V2 as default storage backend
  api/proxy/docs/help_out.txt
Due: none

fix: icicle build (#2046)
  encoding/kzg/prover/v2/icicle/multiframe_proof.go
Due: unit-tests, Encoding

feat(proxy): ARB integration test - address pr feedback
  api/proxy/servers/arbitrum_altda/handlers.go
  api/proxy/servers/arbitrum_altda/server.go
Due: unit-tests, API

Add encoder icicle to all group
  .github/workflows/docker-build-encoder-icicle.yml
  docker-bake.hcl
Due: unit-tests

add linux/amd64 as the platform
  docker-bake.hcl
Due: unit-tests

fix typo
  docker-bake.hcl
Due: unit-tests

Add encoder-icicle docker build pipeline
  .github/workflows/docker-build-encoder-icicle.yml
Due: unit-tests

Update docker-bake.hcl
  docker-bake.hcl
Due: unit-tests

address-review: serialization_test comment
  core/v2/serialization_test.go
Due: none

ci: Add encoder-icicle to docker build pipeline (#2045)
  docker-bake.hcl
Due: unit-tests

address-review: describe why proverv2 used in v1 test file
  disperser/apiserver/server_test.go
Due: none

address-review: remove wrong comment
  encoding/kzg/pointsIO.go
Due: unit-tests, Encoding

address-review: ctx.TODO() -> ctx.Background()
  node/plugin/cmd/main.go
Due: none

fix: update bindings
  contracts/bindings/IEigenDADirectory/binding.go
Due: none

Make plugin_test.go not depend on inabox
  node/plugin/tests/plugin_test.go
  test/testbed/deploy_contracts.go
  test/testbed/node_plugin.go
Due: none

nit
  node/plugin/tests/plugin_test.go
Due: none
