Repository Layr-Labs/eigenda: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, litt-tests, Core, API, Disperser, Node, Encoding

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecovyml-reference

coverage:
  # Coverage precision (number of decimal places)
  precision: 1
  round: down

  # Coverage range for color coding (red to green)
  range: "30...80"

  status:
    project:
      default:
        # Only fail the status if coverage drops by more than 1%
        threshold: 1%
        target: auto

    patch:
      default:
        # Require at least 50% coverage on new/modified code
        target: 50%
        threshold: 5%

# Files and paths to ignore in coverage calculations
ignore:
  # Auto-generated contract bindings
  - "contracts/bindings/**"
  - "**/bindings/**"

  # Generated protobuf/grpc files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/grpc/**"

  # Mock files
  - "**/mock/**"
  - "**/mocks/**"
  - "**/*_mock.go"
  - "**/*_mocks.go"

  # Test files and test utilities
  - "**/*_test.go"
  - "**/test/**"
  - "**/tests/**"
  - "**/testutils/**"
  - "**/testdata/**"

  # Command-line entry points (main packages)
  - "**/cmd/**"
  - "**/main.go"

  # Documentation and examples
  - "**/docs/**"
  - "**/examples/**"
  - "**/example/**"

  # Generated files
  - "**/generated/**"
  - "**/*.generated.go"
  - "**/codegen/**"

  # Third-party and vendor
  - "vendor/**"
  - "third_party/**"

  # Build and deployment
  - "**/build/**"
  - "**/deploy/**"
  - "**/scripts/**"

  # Resource files
  - "resources/**"

# Comment configuration
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test types
flags:
  unit-tests:
    paths:
      - "!contracts/"
      - "!litt/"
    carryforward: false

  litt-tests:
    paths:
      - "litt/"
    carryforward: false

# Codecov CI configuration
codecov:
  notify:
    # Wait for all CI builds before sending notifications
    wait_for_ci: true

  # Require the codecov token for security
  require_ci_to_pass: true

# Component-based coverage tracking (optional)
component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - "core/**"

    - component_id: api
      name: API
      paths:
        - "api/**"
        - "!api/grpc/**"
        - "!api/**/mock/**"

    - component_id: disperser
      name: Disperser
      paths:
        - "disperser/**"
        - "!disperser/cmd/**"
        - "!disperser/**/mock/**"

    - component_id: node
      name: Node
      paths:
        - "node/**"
        - "!node/cmd/**"
        - "!node/**/mock/**"

    - component_id: encoding
      name: Encoding
      paths:
        - "encoding/**"
        - "!encoding/**/mock/**"

fix: version number (#2064)
  common/version/default_version.go
  common/version/default_version_test.go
  common/version/semver.go
  common/version/semver_test.go
  node/cmd/main.go
  node/grpc/server.go
  node/grpc/server_test.go
  node/grpc/server_v2.go
  node/grpc/server_v2_test.go
  node/node.go
  node/version.go
  test/v1/integration_test.go
Due: unit-tests, Node

fix whitespace
  operators/ejector/ejection_manager.go
Due: unit-tests

fix merge issues
  core/eth/directory/contract_names.go
  test/v2/client/test_client.go
Due: unit-tests, Core

chore: add some more comments
  contracts/src/core/EigenDARegistryCoordinator.sol
Due: none

docs: relax encoded payload header (#2071)
  docs/spec/src/integration/spec/3-data-structs.md
Due: none

Copy cumulative payment before returning
  api/clients/v2/accountant.go
Due: unit-tests, API

feat: replace churning (#1963)
  contracts/bindings/EigenDARegistryCoordinator/binding.go
  contracts/script/EigenDADeployer.s.sol
  contracts/script/deploy/eigenda/DeployEigenDA.s.sol
  contracts/src/core/EigenDARegistryCoordinator.sol
  contracts/src/core/EigenDARegistryCoordinatorStorage.sol
Due: none

apply pr feedback
  inabox/tests/integration_suite_test.go
  inabox/tests/integration_test.go
  inabox/tests/integration_v2_test.go
  inabox/tests/setup_infra.go
  inabox/tests/test_harness.go
Due: none

Add doc
  api/clients/v2/accountant.go
Due: unit-tests, API

fix(payments): Copy cumulative payment before returning from `Accountant` (#2079)
  api/clients/v2/accountant.go
Due: unit-tests, API

fix: log output in inabox deploy
  inabox/deploy/cmd/main.go
Due: none

fix inabox stop-infra not stopping localstack
  inabox/Makefile
Due: unit-tests

chore(inabox): makefile cleanup
  Makefile
  inabox/Makefile
Due: unit-tests

refactor(inabox): Create a test harness for inabox tests (#2074)
  inabox/tests/churner_setup.go
  inabox/tests/integration_suite_test.go
  inabox/tests/integration_test.go
  inabox/tests/integration_v2_test.go
  inabox/tests/setup_infra.go
  inabox/tests/setup_test_harness.go
  inabox/tests/test_harness.go
Due: none

add error check if dasm address is nil
  inabox/deploy/deploy.go
Due: none

add jq and grpcurl dependencies to mise
  mise.toml
Due: unit-tests

don't always make a new-testdata-dir when starting infra
  inabox/Makefile
Due: unit-tests

fix ln symlink bug with latest dir
  inabox/Makefile
Due: unit-tests

rename make new-e2e-test -> new-e2e-tests
  Makefile
  inabox/Makefile
Due: unit-tests

more pretty inabox intro echo msg
  inabox/Makefile
Due: unit-tests

cleanup readme with new commands
  inabox/README.md
Due: unit-tests

add export before vars
  inabox/Makefile
  inabox/README.md
Due: unit-tests

also export EIGENDA_CERT_VERIFIER_ROUTER_ADDR
  inabox/Makefile
  inabox/README.md
Due: unit-tests

fix disperser_v1_url
  inabox/Makefile
  inabox/README.md
Due: unit-tests

docs: add v2 dispersal via proxy
  inabox/README.md
Due: unit-tests

remove unused reverseBits fcts
  encoding/utils/reverseBits/reverseBits.go
Due: unit-tests, Encoding

add comment to gnark/icicle backends (cpu vs gpu)
  encoding/backend.go
Due: unit-tests, Encoding

move EncoderDevice interface to parametrized_encoder file
  encoding/rs/encoder.go
  encoding/rs/parametrized_encoder.go
Due: unit-tests, Encoding

move encode/decode.go to encoder.go
  encoding/rs/decode.go
  encoding/rs/encode.go
  encoding/rs/encoder.go
Due: unit-tests, Encoding

clean up encoder tests into a single file
  encoding/rs/encoder_fuzz_test.go
  encoding/rs/encoder_suite_test.go
  encoding/rs/encoder_test.go
  encoding/rs/frame_coeffs_test.go
  encoding/rs/utils_test.go
Due: none

consolidate parametrized_encoder
  encoding/params.go
  encoding/rs/encoder.go
  encoding/rs/interpolation.go
  encoding/rs/parametrized_encoder.go
Due: unit-tests, Encoding

delete unused rs/params.go file
  encoding/params.go
  encoding/rs/params.go
Due: unit-tests, Encoding

cleanup encoding/rs/utils
  encoding/rs/utils.go
  encoding/rs/utils_test.go
Due: unit-tests, Encoding

fix lint
  encoding/rs/encoder.go
  encoding/rs/parametrized_encoder.go
Due: unit-tests, Encoding

chore(inabox): makefile new start-inabox command (#2080)
  Makefile
  inabox/Makefile
  inabox/README.md
  inabox/deploy/cmd/main.go
  inabox/deploy/deploy.go
  mise.toml
Due: unit-tests

perf(fft): pre-allocate roots of unity buffer
  encoding/fft/fft.go
  encoding/fft/fft_test.go
Due: unit-tests, Encoding

address dmanc comment: icicle is gpu/cpu
  encoding/backend.go
Due: unit-tests, Encoding

make fmt
  encoding/kzg/prover/v2/icicle.go
  encoding/utils/reverseBits/reverseBits.go
Due: unit-tests, Encoding

fix test
  encoding/kzg/prover/v2/prover_test.go
  encoding/rs/parametrized_encoder.go
Due: unit-tests, Encoding

fix icicle
  encoding/rs/icicle.go
Due: unit-tests, Encoding
