Repository Layr-Labs/eigenda: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, litt-tests, Core, API, Disperser, Node, Encoding

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecovyml-reference

coverage:
  # Coverage precision (number of decimal places)
  precision: 1
  round: down

  # Coverage range for color coding (red to green)
  range: "30...80"

  status:
    project:
      default:
        # Only fail the status if coverage drops by more than 1%
        threshold: 1%
        target: auto

    patch:
      default:
        # Require at least 50% coverage on new/modified code
        target: 50%
        threshold: 5%

# Files and paths to ignore in coverage calculations
ignore:
  # Auto-generated contract bindings
  - "contracts/bindings/**"
  - "**/bindings/**"

  # Generated protobuf/grpc files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/grpc/**"

  # Mock files
  - "**/mock/**"
  - "**/mocks/**"
  - "**/*_mock.go"
  - "**/*_mocks.go"

  # Test files and test utilities
  - "**/*_test.go"
  - "**/test/**"
  - "**/tests/**"
  - "**/testutils/**"
  - "**/testdata/**"

  # Command-line entry points (main packages)
  - "**/cmd/**"
  - "**/main.go"

  # Documentation and examples
  - "**/docs/**"
  - "**/examples/**"
  - "**/example/**"

  # Generated files
  - "**/generated/**"
  - "**/*.generated.go"
  - "**/codegen/**"

  # Third-party and vendor
  - "vendor/**"
  - "third_party/**"

  # Build and deployment
  - "**/build/**"
  - "**/deploy/**"
  - "**/scripts/**"

  # Resource files
  - "resources/**"

# Comment configuration
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test types
flags:
  unit-tests:
    paths:
      - "!contracts/"
      - "!litt/"
    carryforward: false

  litt-tests:
    paths:
      - "litt/"
    carryforward: false

# Codecov CI configuration
codecov:
  notify:
    # Wait for all CI builds before sending notifications
    wait_for_ci: true

  # Require the codecov token for security
  require_ci_to_pass: true

# Component-based coverage tracking (optional)
component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - "core/**"

    - component_id: api
      name: API
      paths:
        - "api/**"
        - "!api/grpc/**"
        - "!api/**/mock/**"

    - component_id: disperser
      name: Disperser
      paths:
        - "disperser/**"
        - "!disperser/cmd/**"
        - "!disperser/**/mock/**"

    - component_id: node
      name: Node
      paths:
        - "node/**"
        - "!node/cmd/**"
        - "!node/**/mock/**"

    - component_id: encoding
      name: Encoding
      paths:
        - "encoding/**"
        - "!encoding/**/mock/**"

simplify
  .github/workflows/unit-tests.yml
  mise.toml
Due: unit-tests

Add coverage badge
  README.md
Due: unit-tests

introduce verifier v2 kzgConfig
  api/clients/v2/examples/client_construction.go
  api/clients/v2/validator/validator_non_mock_test.go
  api/proxy/store/builder/storage_manager_builder.go
  api/proxy/store/generated_key/eigenda/verify/cli.go
  api/proxy/test/testutils/setup.go
  core/v2/core_test.go
  encoding/kzg/prover/v2/parametrized_prover_test.go
  encoding/kzg/prover/v2/prover_test.go
  encoding/kzg/verifier/v2/batch_commit_equivalence_test.go
  encoding/kzg/verifier/v2/config.go
  encoding/kzg/verifier/v2/frame_test.go
  encoding/kzg/verifier/v2/length_test.go
  encoding/kzg/verifier/v2/multiframe_test.go
  encoding/kzg/verifier/v2/parametrized_verifier.go
  encoding/kzg/verifier/v2/test_harness_test.go
  encoding/kzg/verifier/v2/verifier.go
  encoding/kzg/verifier/v2/verifier_test.go
  inabox/tests/integration_suite_test.go
  node/node.go
  retriever/cmd/main.go
  retriever/v2/server_test.go
  test/v2/client/test_client.go
Due: unit-tests, API, Node, Encoding

test: fix server_test wrong G2TrailingPath
  disperser/apiserver/server_test.go
Due: none

fix: apiserver uses prover v2
  disperser/apiserver/server_test.go
  disperser/apiserver/server_v2.go
  disperser/cmd/apiserver/lib/apiserver.go
  disperser/cmd/apiserver/lib/config.go
  encoding/kzg/prover/v2/config.go
  inabox/tests/integration_suite_test.go
Due: unit-tests, Disperser, Encoding

chore(verifier-v2): remove unused PreloadEncoder config
  encoding/kzg/verifier/v2/config.go
Due: unit-tests, Encoding

test: fix test harnesses missing g2.trailing.path
  api/clients/v2/payloadretrieval/relay_payload_retriever_test.go
  api/clients/v2/validator/validator_non_mock_test.go
  core/v2/core_test.go
  retriever/v2/server_test.go
Due: none

style: fix lint
  core/v2/serialization_test.go
Due: none

Add G2Trailing path to disperser server and run gen.sh inside inabox to wire up the configuration
  disperser/cmd/apiserver/flags/flags.go
  inabox/deploy/config.go
  inabox/deploy/deploy.go
  inabox/deploy/env_vars.go
  inabox/templates/testconfig-anvil.yaml
Due: unit-tests

test: fix inabox by only passing g2_trailing_path to v2 apiserver
  inabox/deploy/config.go
  inabox/templates/testconfig-anvil.yaml
Due: unit-tests

refactor(prover-v2): define its own kzgconfig like for verifier-v2
  api/clients/v2/examples/client_construction.go
  api/clients/v2/payloadretrieval/relay_payload_retriever_test.go
  api/clients/v2/validator/validator_non_mock_test.go
  api/proxy/store/builder/storage_manager_builder.go
  core/v2/core_test.go
  disperser/cmd/encoder/main.go
  disperser/encoder/server_v2.go
  disperser/encoder/server_v2_test.go
  encoding/kzg/pointsIO.go
  encoding/kzg/prover/v2/config.go
  encoding/kzg/prover/v2/data/SRSTable/dimE4.coset16
  encoding/kzg/prover/v2/decode_test.go
  encoding/kzg/prover/v2/gnark/commitments.go
  encoding/kzg/prover/v2/gnark/multiframe_proof.go
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/parametrized_prover_test.go
  encoding/kzg/prover/v2/precompute.go
  encoding/kzg/prover/v2/precompute_test.go
  encoding/kzg/prover/v2/prover.go
  encoding/kzg/prover/v2/prover_fuzz_test.go
  encoding/kzg/prover/v2/prover_test.go
  encoding/kzg/prover/v2/test_harness_test.go
  encoding/kzg/verifier/v2/batch_commit_equivalence_test.go
  encoding/kzg/verifier/v2/frame_test.go
  encoding/kzg/verifier/v2/length_test.go
  encoding/kzg/verifier/v2/multiframe_test.go
  encoding/kzg/verifier/v2/verifier_test.go
  retriever/v2/server_test.go
  test/v2/client/test_client.go
Due: unit-tests, API, Disperser, Encoding

refactor: introduce SRSOrder=2^28 in encoding/constants.go
  api/proxy/config/eigendaflags/cli.go
  encoding/constants.go
Due: unit-tests, API, Encoding

chore(verifier-v2): remove all unused kzgConfig fields
  api/clients/v2/examples/client_construction.go
  api/proxy/store/builder/storage_manager_builder.go
  encoding/kzg/verifier/v2/config.go
  retriever/cmd/main.go
  test/v2/client/test_client.go
Due: unit-tests, API, Encoding

fix lint
  node/plugin/cmd/main.go
  node/plugin/config.go
Due: unit-tests, Node

test: fix length_test
  encoding/kzg/verifier/v2/length_test.go
  encoding/kzg/verifier/v2/test_harness_test.go
Due: none

fix tests broken by inabox generation
  core/indexer/state_test.go
  node/plugin/tests/plugin_test.go
Due: none

style: fix lint issues
  core/indexer/state_test.go
  disperser/cmd/apiserver/lib/apiserver.go
  node/plugin/tests/plugin_test.go
Due: none

fix lint issues
  encoding/kzg/verifier/v2/length_test.go
  encoding/kzg/verifier/v2/verifier.go
Due: unit-tests, Encoding

fix node_plugin use EigenDADirectory
  node/plugin/cmd/main.go
  node/plugin/config.go
Due: unit-tests, Node

test: fix serializatoion_test hashes
  core/v2/serialization_test.go
Due: none

perf(verifier-v2): embed g1 powerOf2 pts
  encoding/kzg/verifier/v2/batch_commit_equivalence.go
  encoding/kzg/verifier/v2/length_test.go
  encoding/kzg/verifier/v2/multiframe.go
  encoding/kzg/verifier/v2/parametrized_verifier.go
  encoding/kzg/verifier/v2/verifier.go
  resources/srs/srs.go
Due: unit-tests, Encoding

force v2 prover to return powerOf2 blobLengths
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/prover.go
Due: unit-tests, Encoding

chore: delete v2 data directory (not sure how it got created..)
  encoding/kzg/prover/v2/data/SRSTable/dimE4.coset16
Due: unit-tests, Encoding

Fix coverage
  .github/workflows/unit-tests.yml
Due: unit-tests

Upload coverage in each step
  .github/workflows/unit-tests.yml
Due: unit-tests

Replace ginko with standard go testing framework inside inabox
  inabox/tests/integration_suite_test.go
  inabox/tests/integration_test.go
  inabox/tests/integration_v2_test.go
  inabox/tests/ratelimit_test.go
Due: none

Replace ginko with standard go testing framework inside indexer test
  core/indexer/indexer_suite_test.go
  core/indexer/state_test.go
  go.mod
  go.sum
Due: unit-tests

Simplify coverage yaml
  .github/workflows/unit-tests.yml
  codecov.yml
Due: unit-tests

fix linter
  core/indexer/state_test.go
  inabox/tests/integration_v2_test.go
Due: none

fix pipeline
  .github/workflows/unit-tests.yml
Due: unit-tests

increase timeout
  inabox/tests/integration_suite_test.go
Due: none

simplify code
  inabox/tests/integration_suite_test.go
Due: none

chore: Deprecate ginko (#2037)
  core/indexer/indexer_suite_test.go
  core/indexer/state_test.go
  go.mod
  go.sum
  inabox/tests/integration_suite_test.go
  inabox/tests/integration_test.go
  inabox/tests/integration_v2_test.go
  inabox/tests/ratelimit_test.go
Due: unit-tests

ci: Add codecov to unit-test.yml (#2033)
  .github/workflows/unit-tests.yml
  README.md
  codecov.yml
Due: unit-tests

Parallelize integration tests jobs
  .github/workflows/integration-tests.yml
Due: unit-tests

fix: remove only indexer-specific test files
  Makefile
  core/indexer/indexer_suite_test.go
  core/indexer/state_test.go
  indexer/eth/header_service_test.go
  indexer/inmem/header_store_test.go
  indexer/leveldb/header_store_test.go
  indexer/test/indexer_test.go
Due: unit-tests

ci: Parallelize integration tests jobs (#2038)
  .github/workflows/integration-tests.yml
Due: unit-tests

fix: Client live test
  test/v2/client/test_client.go
  test/v2/client/test_client_config.go
  test/v2/config/environment/testnet-sepolia.json
Due: none

fix: Client live test (#2039)
  test/v2/client/test_client.go
  test/v2/client/test_client_config.go
  test/v2/config/environment/testnet-sepolia.json
Due: none

refactor: rename (De)Serialize -> (De)SerializeGob
  api/clients/node_client.go
  core/data.go
  core/data_test.go
  core/test/core_test.go
  disperser/encoder/server.go
  disperser/encoder/server_test.go
  disperser/local_encoder_client.go
  encoding/kzg/prover/decode_test.go
  encoding/kzg/prover/v2/decode_test.go
  encoding/serialization.go
  encoding/serialization_test.go
  node/grpc/server.go
  node/grpc/server_load_test.go
  node/grpc/server_test.go
  node/store_test.go
  node/utils.go
  test/v1/integration_test.go
Due: unit-tests, Core, API, Disperser, Node, Encoding
