Repository Layr-Labs/eigenda: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, litt-tests, Core, API, Disperser, Node, Encoding

refactor(prover-v2): cleanup unused fcts (#2057)
  .gitignore
  Makefile
  api/proxy/Makefile
  api/proxy/test/fuzz/server_fuzz_test.go
  encoding/kzg/prover/prover_test.go
  encoding/kzg/prover/v2/decode.go
  encoding/kzg/prover/v2/decode_test.go
  encoding/kzg/prover/v2/icicle.go
  encoding/kzg/prover/v2/parametrized_prover.go
  encoding/kzg/prover/v2/parametrized_prover_test.go
  encoding/kzg/prover/v2/prover.go
  encoding/kzg/prover/v2/prover_fuzz_test.go
  encoding/kzg/prover/v2/prover_test.go
  encoding/kzg/verifier/v2/batch_commit_equivalence_test.go
  encoding/kzg/verifier/v2/frame_test.go
  encoding/kzg/verifier/v2/length_test.go
  encoding/kzg/verifier/v2/multiframe_test.go
  encoding/kzg/verifier/v2/verifier_test.go
Due: unit-tests, API, Encoding

pr feedback round 1
  inabox/deploy/cmd/main.go
  inabox/tests/integration_suite_test.go
  operators/churner/config.go
  operators/churner/tests/churner_test.go
  test/testbed/deploy_contracts.go
Due: unit-tests

refactor: move certificate verification logic to verify package
  api/proxy/store/builder/config.go
  api/proxy/store/generated_key/eigenda/verify/cli.go
Due: unit-tests, API

Nest configs instead of reconstructing
  node/config.go
  node/node.go
Due: unit-tests, Node

Fix lint problem caused by upstream merge
  node/node.go
Due: unit-tests, Node

Made suggested changes, fixed unit test
  common/version/default_version_test.go
  common/version/semver.go
  node/grpc/server_v2_test.go
Due: unit-tests

Clarify doc
  node/grpc/server_v2.go
Due: none

Moar unit tests.
  operators/ejector/ejection_manager.go
  operators/ejector/ejection_manager_test.go
Due: unit-tests

Generalize the leaky bucket so it can be used elsewhere in the codebase
  api/clients/v2/examples/client_construction.go
  api/proxy/store/builder/storage_manager_builder.go
  common/ratelimit/leaky_bucket.go
  common/ratelimit/leaky_bucket_test.go
  common/ratelimit/overfill_behavior.go
  core/payments/clientledger/client_ledger_test.go
  core/payments/reservation/reservation_ledger.go
  core/payments/reservation/reservation_ledger_config.go
  core/payments/reservation/reservation_ledger_test.go
  core/payments/reservation/reservationvalidation/reservation_ledger_cache.go
  core/payments/reservation/reservationvalidation/reservation_ledger_cache_config.go
  core/payments/reservation/reservationvalidation/reservation_ledger_cache_test.go
  core/payments/reservation/reservationvalidation/reservation_payment_validator_test.go
  disperser/cmd/controller/config.go
Due: unit-tests, Core, API

feat(mdbook): Add non-revertable updates to integrations spec (#2047)
  docs/spec/src/integration/spec/5-lifecycle-phases.md
  docs/spec/src/integration/spec/6-secure-integration.md
Due: none

ci(inabox): Add churner deployment to testbed package (#2058)
  .gitignore
  core/thegraph/state_integration_test.go
  inabox/Makefile
  inabox/README.md
  inabox/bin.sh
  inabox/deploy/deploy.go
  inabox/tests/integration_suite_test.go
  operators/churner/config.go
  operators/churner/tests/churner_test.go
  test/testbed/deploy_contracts.go
  test/testbed/localstack.go
Due: unit-tests

fix unit test
  node/grpc/server_test.go
Due: none

fix: use backward compatible approach
  contracts/bindings/EigenDARegistryCoordinator/binding.go
  contracts/src/core/EigenDARegistryCoordinator.sol
Due: none

fix: ci
  contracts/script/EigenDADeployer.s.sol
Due: none

test: fix thegraph test
  core/thegraph/state_integration_test.go
  inabox/templates/testconfig-anvil.yaml
Due: unit-tests

fix: calldata type
  contracts/src/core/EigenDARegistryCoordinator.sol
Due: none

fix lint
  core/thegraph/state_integration_test.go
Due: none

fix: churn
  contracts/src/core/EigenDARegistryCoordinator.sol
Due: none

fix graph integration test: bring back nochurner yaml file
  core/thegraph/state_integration_test.go
  inabox/templates/testconfig-anvil-nochurner.yaml
Due: unit-tests

feat: cert verifier configs (#2067)
  contracts/script/deploy/certverifier/README.md
  contracts/script/deploy/certverifier/config/v2/holesky.preprod.config.json
  contracts/script/deploy/certverifier/config/v2/hoodi.testnet.config.json
  contracts/script/deploy/certverifier/config/v2/mainnet.prod.config.json
  contracts/script/deploy/certverifier/config/v2/sepolia.testnet.config.json
Due: none

refactor(inabox): cleanup inabox deployer + makefile (#2070)
  core/indexer/indexer_suite_test.go
  core/thegraph/state_integration_test.go
  inabox/Makefile
  inabox/deploy/cmd/main.go
  inabox/deploy/config_types.go
  inabox/templates/testconfig-anvil-nochurner.yaml
  inabox/templates/testconfig-anvil-nograph.yaml
  inabox/templates/testconfig-anvil.yaml
  inabox/tests/integration_suite_test.go
  inabox/tests/ratelimit_test.go
Due: unit-tests

Remove old error
  core/payments/clientledger/client_ledger.go
  core/payments/reservation/errors.go
  core/payments/reservation/reservation_ledger.go
  core/payments/reservation/reservationvalidation/reservation_payment_validator.go
  disperser/controller/payments/payment_authorization_handler.go
Due: unit-tests, Core, Disperser

fix unit test bug
  common/version/semver_test.go
Due: none

chore: refactor makefile build/clean commands
  Makefile
  disperser/Makefile
  litt/Makefile
  node/Makefile
  operators/churner/Makefile
  relay/Makefile
  retriever/Makefile
  tools/kzgpad/Makefile
  tools/traffic/Makefile
Due: unit-tests, litt-tests, Disperser, Node

fix disperser Makefile build pre-targets
  disperser/Makefile
Due: unit-tests, Disperser

fix proxy makefile clean command
  api/proxy/Makefile
Due: unit-tests, API

Use the router for live tests and traffic generator
  test/v2/client/test_client.go
  test/v2/client/test_client_config.go
  test/v2/config/environment/broken/preprod.json
  test/v2/config/environment/broken/testnet-holesky.json
  test/v2/config/environment/testnet-sepolia.json
  test/v2/live/live_network_test.go
  test/v2/live/proxy_test.go
  test/v2/load/load_generator.go
Due: none

Add payment logic doc to validator
  node/grpc/server_v2.go
Due: none

add clean command to contracts makefile
  Makefile
  contracts/Makefile
  node/Makefile
Due: unit-tests, Node

Create a test harness for inabox tests
  inabox/tests/integration_suite_test.go
  inabox/tests/integration_test.go
  inabox/tests/integration_v2_test.go
Due: none

Fix lint issues
  inabox/tests/integration_suite_test.go
Due: none

attempt at splitting global infrastructure harness and per test harness
  inabox/tests/churner_setup.go
  inabox/tests/integration_suite_test.go
  inabox/tests/integration_test.go
  inabox/tests/integration_v2_test.go
  inabox/tests/setup_infra.go
  inabox/tests/setup_test_harness.go
  inabox/tests/test_harness.go
Due: none

rebase
  inabox/tests/setup_infra.go
Due: none

Fix lint issues
  inabox/tests/churner_setup.go
  inabox/tests/setup_infra.go
  inabox/tests/setup_test_harness.go
Due: none

chore: refactor makefile build/clean commands (#2076)
  Makefile
  api/proxy/Makefile
  contracts/Makefile
  disperser/Makefile
  litt/Makefile
  node/Makefile
  operators/churner/Makefile
  relay/Makefile
  retriever/Makefile
  tools/kzgpad/Makefile
  tools/traffic/Makefile
Due: unit-tests, litt-tests, API, Disperser, Node

fix: use the router for live tests and traffic generator (#2077)
  test/v2/client/test_client.go
  test/v2/client/test_client_config.go
  test/v2/config/environment/broken/preprod.json
  test/v2/config/environment/broken/testnet-holesky.json
  test/v2/config/environment/testnet-sepolia.json
  test/v2/live/live_network_test.go
  test/v2/live/proxy_test.go
  test/v2/load/load_generator.go
Due: none

made suggested changes
  common/ratelimit/leaky_bucket.go
  common/ratelimit/overfill_behavior.go
Due: unit-tests

create method for reconfiguring bucket
  common/ratelimit/leaky_bucket.go
  common/ratelimit/leaky_bucket_test.go
  core/payments/reservation/reservation_ledger.go
Due: unit-tests, Core

feat(payments): Implement validator payment validation (#2063)
  node/config.go
  node/flags/flags.go
  node/grpc/server_v2.go
  node/metrics.go
  node/node.go
Due: unit-tests, Node

Path conditions:
  unit-tests: any file but: contracts/, litt/, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  litt-tests: any of: litt/, but not: contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Core: any of: core/**, but not: contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  API: any of: api/**, but not: api/grpc/**, api/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Disperser: any of: disperser/**, but not: disperser/cmd/**, disperser/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Node: any of: node/**, but not: node/cmd/**, node/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Encoding: any of: encoding/**, but not: encoding/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
