Repository Layr-Labs/eigenda: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, litt-tests, Core, API, Disperser, Node, Encoding

perf(fft): pre-allocate roots of unity slice (#2082)
  encoding/fft/fft.go
  encoding/fft/fft_test.go
Due: unit-tests, Encoding

docs: address bowen's comments
  encoding/rs/encoder.go
Due: unit-tests, Encoding

fix lint
  encoding/rs/encoder.go
Due: unit-tests, Encoding

refactor(encoding): cleanup package (#2081)
  encoding/backend.go
  encoding/kzg/prover/v2/icicle.go
  encoding/kzg/prover/v2/prover_test.go
  encoding/params.go
  encoding/rs/decode.go
  encoding/rs/encode.go
  encoding/rs/encoder.go
  encoding/rs/encoder_fuzz_test.go
  encoding/rs/encoder_suite_test.go
  encoding/rs/encoder_test.go
  encoding/rs/frame_coeffs_test.go
  encoding/rs/icicle.go
  encoding/rs/interpolation.go
  encoding/rs/parametrized_encoder.go
  encoding/rs/params.go
  encoding/rs/utils.go
  encoding/rs/utils_test.go
  encoding/utils/reverseBits/reverseBits.go
Due: unit-tests, Encoding

Fix syntax issue
  .github/workflows/docker-publish-release.yaml
  .github/workflows/docker-publish.yaml
Due: unit-tests

Try building and pushing encoder-icicle as a separate workflow
  .github/workflows/docker-publish-release.yaml
  .github/workflows/docker-publish.yaml
  Makefile
  docker-bake.hcl
Due: unit-tests

Seperate encoder build and push into separate machine + test push with branch reference
  .github/workflows/docker-publish.yaml
Due: unit-tests

reorg icicle docker file
  disperser/cmd/encoder/icicle.Dockerfile
Due: none

refactor: use b.Loop() to simplify the code and improve performance
  node/store_test.go
Due: none

add memstore override when ingesting V2 config from CLI
  api/proxy/store/builder/config.go
Due: unit-tests, API

feat: Remove holesky from proxy
  api/proxy/.env.example
  api/proxy/Makefile
  api/proxy/README.md
  api/proxy/common/eigenda_network.go
  api/proxy/config/v2/eigendaflags/cli.go
  api/proxy/docker-compose.yaml
  api/proxy/docs/help_out.txt
  api/proxy/docs/troubleshooting_v1.md
  api/proxy/scripts/op-devnet-allocs.sh
  api/proxy/store/generated_key/eigenda/verify/verifier.go
  api/proxy/test/e2e/server_test.go
  api/proxy/test/testutils/setup.go
Due: unit-tests, API

Add shutdown mechanism to node
  node/cmd/main.go
  node/grpc/run.go
  node/node.go
Due: unit-tests, Node

more improvements to context management
  node/cmd/main.go
  node/grpc/run.go
  node/node.go
  node/store.go
Due: unit-tests, Node

fix test
  test/v1/integration_test.go
Due: none

Fix linter
  node/grpc/run.go
Due: none

fix(payments): Copy cumulative payment before returning from `Accountant` (#2079)
  api/clients/v2/accountant.go
Due: unit-tests, API

incremental progress
  operators/ejector/controller_signing_rate_lookup.go
  operators/ejector/dynamo_signing_rate_lookup.go
  operators/ejector/signing_rate_lookup.go
Due: unit-tests

incremental progress
  operators/ejector/data_api_signing_rate_lookup.go
Due: unit-tests

go fmt
  core/payments/reservation/reservation_ledger.go
Due: unit-tests, Core

lint
  core/signingrate/signing_rate_storage_test.go
Due: none

move ejector package
  ejector/controller_signing_rate_lookup.go
  ejector/data_api_signing_rate_lookup.go
  ejector/ejection_criteria.go
  ejector/ejection_criteria_test.go
  ejector/ejection_manager.go
  ejector/ejection_manager_test.go
  ejector/ejection_transactor.go
  ejector/ejector.go
  ejector/ejector_config.go
  ejector/mock_ejection_transactor.go
  ejector/signing_rate_lookup.go
  ejector/threaded_ejection_manager.go
Due: unit-tests

feat: add holesky testnet cert verifier cfg
  contracts/script/deploy/certverifier/config/v2/holesky.testnet.config.json
Due: none

fix(payments): Copy cumulative payment before returning from Accountant (#2087)
  api/clients/v2/accountant.go
Due: unit-tests, API

Implement signing rate lookup
  ejector/controller_signing_rate_lookup.go
  ejector/data_api_signing_rate_lookup.go
  ejector/signing_rate_lookup.go
  ejector/signing_rate_lookup_test.go
  test/skip_in_ci.go
  test/v2/client/test_client_setup.go
Due: unit-tests

handle multiple quorums
  ejector/controller_signing_rate_lookup.go
  ejector/data_api_signing_rate_lookup.go
  ejector/signing_rate_lookup.go
  ejector/signing_rate_lookup_test.go
Due: unit-tests

Add sorting
  core/payments/reservation/reservation_ledger.go
  ejector/data_api_signing_rate_lookup.go
  ejector/signing_rate_lookup.go
  ejector/signing_rate_lookup_test.go
  ejector/utils.go
  test/skip_in_ci.go
Due: unit-tests, Core

Start creating configurable env
  contracts/script/SetUpEigenDA.s.sol
  inabox/Makefile
  inabox/deploy/config_types.go
  inabox/deploy/deploy.go
  inabox/tests/integration_suite_test.go
  inabox/tests/integration_test.go
  inabox/tests/integration_v2_test.go
  inabox/tests/payments/payment_exhaustion_test.go
  inabox/tests/setup_infra.go
  inabox/tests/utils.go
  test/testbed/deploy_contracts.go
Due: unit-tests

Polish test methodology
  inabox/Makefile
  inabox/tests/payments/payload_submitter.go
  inabox/tests/payments/payment_exhaustion_test.go
  inabox/tests/payments/reservation_only_test.go
Due: unit-tests

incremental progress
  ejector/data_api_signing_rate_lookup.go
  ejector/ejection_criteria.go
  ejector/ejection_criteria_test.go
  ejector/ejector.go
  ejector/utils.go
Due: unit-tests

add proxy env vars to inabox/deploy/codegen
  inabox/Makefile
  inabox/deploy/codegen/main.go
  inabox/deploy/env_vars.go
Due: unit-tests

Add overusage
  contracts/script/EigenDADeployer.s.sol
  contracts/script/SetUpEigenDA.s.sol
  inabox/deploy/config.go
  inabox/deploy/config_types.go
  inabox/deploy/deploy.go
  inabox/tests/payments/reservation_only_test.go
  inabox/tests/setup_infra.go
Due: none

feat: use address directory in registry coordinator. also rework a script to use directory
  contracts/bindings/EigenDARegistryCoordinator/binding.go
  contracts/script/EigenDADeployer.s.sol
  contracts/script/deploy/eigenda/DeployEigenDA.s.sol
  contracts/src/core/EigenDARegistryCoordinator.sol
  contracts/src/core/EigenDARegistryCoordinatorStorage.sol
Due: none

fix: remove unused names
  contracts/script/deploy/eigenda/DeployEigenDA.s.sol
Due: none

fix: script
  contracts/script/deploy/eigenda/DeployEigenDA.s.sol
Due: none

fix: script use directory
  contracts/script/deploy/eigenda/DeployEigenDA.s.sol
Due: none

fix: don't use upgrade flag
  contracts/script/deploy/eigenda/DeployEigenDA.s.sol
Due: none

Add config for client ledger mode
  inabox/Makefile
  inabox/deploy/config_types.go
  inabox/tests/payments/reservation_only_test.go
  inabox/tests/setup_infra.go
  inabox/tests/setup_test_harness.go
Due: unit-tests

Fix working dir problem
  inabox/tests/payments/reservation_only_test.go
Due: none

SetUpEigenDA output file includes clientAddress/PrivateKey
  contracts/script/SetUpEigenDA.s.sol
Due: none

inabox outputs proxy env vars
  inabox/deploy/config.go
  inabox/deploy/config_types.go
Due: none

Path conditions:
  unit-tests: any file but: contracts/, litt/, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  litt-tests: any of: litt/, but not: contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Core: any of: core/**, but not: contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  API: any of: api/**, but not: api/grpc/**, api/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Disperser: any of: disperser/**, but not: disperser/cmd/**, disperser/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Node: any of: node/**, but not: node/cmd/**, node/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
  Encoding: any of: encoding/**, but not: encoding/**/mock/**, contracts/bindings/**, **/bindings/**, **/*.pb.go, **/*.pb.gw.go, **/grpc/**, **/mock/**, **/mocks/**, **/*_mock.go, **/*_mocks.go, **/*_test.go, **/test/**, **/tests/**, **/testutils/**, **/testdata/**, **/cmd/**, **/main.go, **/docs/**, **/examples/**, **/example/**, **/generated/**, **/*.generated.go, **/codegen/**, vendor/**, third_party/**, **/build/**, **/deploy/**, **/scripts/**, resources/**
