Repository Layr-Labs/eigenda: changes, and which Codecov flags are due for each by the changed paths.
All: unit-tests, litt-tests, Core, API, Disperser, Node, Encoding

codecov.yml:

# Codecov configuration
# https://docs.codecov.io/docs/codecovyml-reference

coverage:
  # Coverage precision (number of decimal places)
  precision: 1
  round: down

  # Coverage range for color coding (red to green)
  range: "30...80"

  status:
    project:
      default:
        # Only fail the status if coverage drops by more than 1%
        threshold: 1%
        target: auto

    patch:
      default:
        # Require at least 50% coverage on new/modified code
        target: 50%
        threshold: 5%

# Files and paths to ignore in coverage calculations
ignore:
  # Auto-generated contract bindings
  - "contracts/bindings/**"
  - "**/bindings/**"

  # Generated protobuf/grpc files
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "**/grpc/**"

  # Mock files
  - "**/mock/**"
  - "**/mocks/**"
  - "**/*_mock.go"
  - "**/*_mocks.go"

  # Test files and test utilities
  - "**/*_test.go"
  - "**/test/**"
  - "**/tests/**"
  - "**/testutils/**"
  - "**/testdata/**"

  # Command-line entry points (main packages)
  - "**/cmd/**"
  - "**/main.go"

  # Documentation and examples
  - "**/docs/**"
  - "**/examples/**"
  - "**/example/**"

  # Generated files
  - "**/generated/**"
  - "**/*.generated.go"
  - "**/codegen/**"

  # Third-party and vendor
  - "vendor/**"
  - "third_party/**"

  # Build and deployment
  - "**/build/**"
  - "**/deploy/**"
  - "**/scripts/**"

  # Resource files
  - "resources/**"

# Comment configuration
comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Flag configuration for different test types
flags:
  unit-tests:
    paths:
      - "!contracts/"
      - "!litt/"
    carryforward: false

  litt-tests:
    paths:
      - "litt/"
    carryforward: false

# Codecov CI configuration
codecov:
  notify:
    # Wait for all CI builds before sending notifications
    wait_for_ci: true

  # Require the codecov token for security
  require_ci_to_pass: true

# Component-based coverage tracking (optional)
component_management:
  individual_components:
    - component_id: core
      name: Core
      paths:
        - "core/**"

    - component_id: api
      name: API
      paths:
        - "api/**"
        - "!api/grpc/**"
        - "!api/**/mock/**"

    - component_id: disperser
      name: Disperser
      paths:
        - "disperser/**"
        - "!disperser/cmd/**"
        - "!disperser/**/mock/**"

    - component_id: node
      name: Node
      paths:
        - "node/**"
        - "!node/cmd/**"
        - "!node/**/mock/**"

    - component_id: encoding
      name: Encoding
      paths:
        - "encoding/**"
        - "!encoding/**/mock/**"

bin.sh start_detached deploys proxy
  inabox/bin.sh
Due: unit-tests

add inabox resources/srstables to gitignore
  inabox/.gitignore
Due: unit-tests

add proxy info to makefile msg + fix readme
  inabox/Makefile
  inabox/README.md
Due: unit-tests

make fmt
  contracts/script/SetUpEigenDA.s.sol
Due: none

fix: Memstore specific client config ingestion
  api/proxy/config/v2/eigendaflags/cli.go
  api/proxy/store/builder/config.go
  api/proxy/store/builder/storage_manager_builder.go
Due: unit-tests, API

Revert "SetUpEigenDA output file includes clientAddress/PrivateKey"
  contracts/script/SetUpEigenDA.s.sol
Due: none

test(inabox): deploy proxy instance (#2091)
  inabox/.gitignore
  inabox/Makefile
  inabox/README.md
  inabox/bin.sh
  inabox/deploy/codegen/main.go
  inabox/deploy/config.go
  inabox/deploy/config_types.go
  inabox/deploy/env_vars.go
Due: unit-tests

pass down anvil and churner rpc + fix some context cancellation issues
  inabox/tests/churner_setup.go
  inabox/tests/operator_setup.go
  inabox/tests/setup_infra.go
  node/node.go
Due: unit-tests, Node

get inabox tests to pass with operators deployed as goroutines
  inabox/bin.sh
  inabox/tests/operator_setup.go
  inabox/tests/setup_infra.go
  inabox/tests/test_harness.go
  node/config.go
  node/node.go
Due: unit-tests, Node

Code reorganization + renaming based on discussion
  core/thegraph/state_integration_test.go
  inabox/deploy/cmd/main.go
  inabox/deploy/deploy.go
  inabox/tests/churner_setup.go
  inabox/tests/integration_suite_test.go
  inabox/tests/integration_test.go
  inabox/tests/integration_v2_test.go
  inabox/tests/setup_chain_harness.go
  inabox/tests/setup_disperser_harness.go
  inabox/tests/setup_infra.go
  inabox/tests/setup_operator_harness.go
  inabox/tests/setup_test_harness.go
  inabox/tests/test_harness.go
Due: none

remove shutdown refactor code and add comment to operator setup
  core/thegraph/state_integration_test.go
  inabox/tests/operator_setup.go
  node/cmd/main.go
  node/grpc/run.go
  node/node.go
  test/v1/integration_test.go
Due: unit-tests, Node

Add churnerUrl as part of infra harness
  core/thegraph/state_integration_test.go
  inabox/tests/churner_setup.go
  inabox/tests/operator_setup.go
  inabox/tests/setup_infra.go
  inabox/tests/test_harness.go
Due: none

Use RunServers function in operator_setup.go + add graceful shutdown
  inabox/tests/operator_setup.go
  node/cmd/main.go
  node/grpc/run.go
  test/v1/integration_test.go
Due: none

more context cancellation
  inabox/tests/operator_setup.go
  inabox/tests/setup_infra.go
  inabox/tests/test_harness.go
Due: none

comments
  inabox/tests/operator_setup.go
Due: none

use existing code
  core/thegraph/state_integration_test.go
Due: none

Fix and simplify state_integration_test.go
  core/thegraph/state_integration_test.go
Due: none

fix lint
  inabox/tests/operator_setup.go
  inabox/tests/test_harness.go
  node/cmd/main.go
  node/grpc/run.go
Due: none

more code reorg
  inabox/deploy/cmd/main.go
  inabox/deploy/deploy.go
  inabox/tests/setup_chain_harness.go
  inabox/tests/setup_disperser_harness.go
  inabox/tests/setup_infra.go
Due: none

Add support for --block-time in anvil testbed
  inabox/deploy/cmd/main.go
  test/testbed/deploy_anvil.go
  test/testbed/deploy_anvil_test.go
Due: none

Add evm_setIntervalMining support
  inabox/deploy/cmd/main.go
  test/testbed/deploy_anvil.go
  test/testbed/deploy_anvil_test.go
Due: none

Start updating benchmark file to use v2 prover and verifier
  encoding/bench/main.go
  encoding/kzg/prover/prover.go
Due: unit-tests, Encoding

Fix verifying issues
  encoding/bench/main.go
Due: none

tmp
  encoding/bench/main.go
Due: none

Add knob for controller payments
  inabox/deploy/config.go
  inabox/deploy/config_types.go
  inabox/tests/payments/reservation_only_test.go
  inabox/tests/setup_infra.go
Due: none

Reuse operator state during signature aggregation
  core/aggregation.go
  core/aggregation_test.go
  disperser/batcher/batcher.go
  disperser/controller/dispatcher.go
  node/grpc/run.go
Due: unit-tests, Core, Disperser

revert unintended change
  node/grpc/run.go
Due: none

cleanup
  core/aggregation_test.go
Due: none

chore: use the router in test clients (#2078)
  core/eth/directory/contract_names.go
  test/v2/client/test_client.go
  test/v2/client/test_client_config.go
  test/v2/config/environment/broken/preprod.json
  test/v2/config/environment/broken/testnet-holesky.json
  test/v2/config/environment/testnet-sepolia.json
  test/v2/live/live_network_test.go
  test/v2/live/proxy_test.go
  test/v2/load/load_generator.go
Due: unit-tests, Core

go fmt
  core/aggregation.go
  disperser/batcher/batcher.go
Due: unit-tests, Core, Disperser

feat: reuse operator state during signature aggregation (#2093)
  core/aggregation.go
  core/aggregation_test.go
  disperser/batcher/batcher.go
  disperser/controller/dispatcher.go
Due: unit-tests, Core, Disperser

make suggested change
  common/ratelimit/leaky_bucket.go
Due: unit-tests

fix merge issue
  node/config.go
Due: unit-tests, Node

Add --mixed-mining mode
  inabox/deploy/cmd/main.go
  test/testbed/deploy_anvil.go
  test/testbed/deploy_anvil_test.go
Due: none

Use proper constructor
  core/payments/reservation/reservation_ledger.go
Due: unit-tests, Core

feat: reuse operator state during signature aggregation (#2094)
  core/aggregation.go
  core/aggregation_test.go
  disperser/batcher/batcher.go
  disperser/controller/dispatcher.go
Due: unit-tests, Core, Disperser

feat(testbed): Add support for block interval in anvil testbed (#2092)
  inabox/deploy/cmd/main.go
  test/testbed/deploy_anvil.go
  test/testbed/deploy_anvil_test.go
Due: none

feat: hoodi deployment (#1908)
  contracts/script/deploy/eigenda/DeployEigenDA.s.sol
  contracts/script/deploy/eigenda/DeployEigenDAConfig.sol
  contracts/script/deploy/eigenda/mainnet.beta.config.toml
  contracts/script/deploy/eigenda/preprod.hoodi.config.toml
  contracts/script/deploy/eigenda/testnet.hoodi.config.toml
  contracts/src/core/libraries/v3/address-directory/AddressDirectoryConstants.sol
Due: none

feat(inabox): Spin up operator nodes as goroutines in inabox (#2083)
  core/thegraph/state_integration_test.go
  inabox/bin.sh
  inabox/deploy/cmd/main.go
  inabox/deploy/deploy.go
  inabox/tests/churner_setup.go
  inabox/tests/integration_suite_test.go
  inabox/tests/integration_test.go
  inabox/tests/integration_v2_test.go
  inabox/tests/setup_chain_harness.go
  inabox/tests/setup_disperser_harness.go
  inabox/tests/setup_infra.go
  inabox/tests/setup_operator_harness.go
  inabox/tests/setup_test_harness.go
  inabox/tests/test_harness.go
  node/config.go
  node/node.go
Due: unit-tests, Node
